<template>
    <div>
        <nav-menu></nav-menu>

        <div class="about-div" style="background:linear-gradient(to bottom, #353535ee, #353535), url(images/mechanic2.jpg), center center, no-repeat;">

          <div class="container">
        
            <div class="row">
              <div class="col-md-6">
                <div class="about-header-bg" style="background: url(images/header_background_red.png) no-repeat">
                    <h3 class="about-header">ABOUT <br>AUTOGIG</h3>
                </div>
                <div class="about_content">
                  <div v-html="content"> </div>
                </div>
              </div>
              <div class="col-md-6">

                <div class="mechanic">
                    <img src="images/about_autogig.png">
                </div>

              </div>
            </div>

          </div>

        </div>

        <footer-menu></footer-menu>

    </div>
</template>


<style lang="scss" scoped >
   @import './resources/assets/sass/about.scss';
</style>


<script>

import NavMenu from '@/views/includes/NavMenu';
import FooterMenu from '@/views/includes/FooterMenu';

export default {
    data(){
      return{
        content: '',
      }
    },
    components: {
      NavMenu,
      FooterMenu, 
    },
    mounted(){
      this.initialLoad();
    },
    methods:{
      initialLoad(){
        let $this = this;
        this.axios.get(index_url + '/api/get-content-page/2')
            .then(response => {
                $this.content = response.data.contentpage.content;
            })
            .catch(error => {
            });
      }
    }
}

</script>