<template>
    <div>
        <nav-menu :cartcount="cart_count"></nav-menu>

        <div class="parts-div">

          <div class="container">
        
            <div class="row">
              <div class="col-md-12">
                <div class="custom-header-bg" style="background: url(images/header_background_red.png) no-repeat">
                    <h3 class="custom-header">Brand <br>Selected</h3>
                </div>
                <div class="brand_style_div">

                  <p><span class="brand_style">Vin:</span> {{form_data.vin}}</p>
                  <p><span class="brand_style">Brand:</span> {{form_data.brand}}</p>
                  <p><span class="brand_style">Model:</span> {{form_data.model}}</p>
                  <p><span class="brand_style">Year:</span> {{form_data.year}}</p>
                  <p><span class="brand_style">Trim:</span> {{form_data.trim}}</p>


                  <p class="fill-form-text" style="margin-top:40px">Please fill all the fields on the form</p>
                </div>
              </div>
            </div>

            <div class="row">

              <div class="col-md-6" v-for="(parts_form,index) in parts_forms" :key="index">      

                  <div style="margin-bottom:70px">

                    <div class="buy-parts-form">
                      <span style="color:white">PART NO</span> 
                      <div class="search-container">
                        <input type="search" v-model="parts_form.part_no" name="" id="input" class="form-control search" value="" placeholder="Input Part Number">
                      </div>
                    </div>

                    <div class="buy-parts-form">
                      <span style="color:white">PART NAME</span> 
                      <div class="search-container">
                        <input type="search" v-model="parts_form.part_name" name="" id="input" class="form-control search" value="" placeholder="Input Part Name">
                      </div>
                    </div>

                    <div class="buy-parts-form">
                      <span style="color:white">QUANTITY</span> 
                      <div class="search-container">
                        <input type="number" v-model="parts_form.quantity" name="" id="input" class="form-control search" value="" placeholder="Input Quantity">
                      </div>
                    </div>

                    <div class="buy-parts-form">
                      <span style="color:white">COMMENT</span> 
                      <div class="search-container">
                        <textarea name="" v-model="parts_form.comment" id="" class="form-control search"></textarea>
                      </div>
                    </div>

                    <div class="buy-parts-form">
                      <span style="color:white">FILE</span> 
                      <div class="search-container">
                        <input type="file" name="" id="input" class="form-control search" value="" ref="file"> 
                      </div>
                    </div>

                    <div class="buy-parts-form">
                        <button type="button" class="btn btn-danger btn-sm" :disabled="parts_forms.length == 1" @click="removePart(index)">Remove part</button>
                    </div>

                  </div>
              </div>
            </div>

            <div class="row">
              <div class="add-to-parts">
                <button type="button" class="btn btn-danger" @click="addMoreParts()">Add more part(s)</button>
                <button type="button" class="btn btn-default" style="background-color: white; color:red" @click="save_to_cart()">Save to cart</button>
              </div>
            </div>
         

          </div>

        </div>

        <footer-menu></footer-menu>

    </div>
</template>


<style lang="scss" scoped >
   @import './resources/assets/sass/buy_parts.scss';

  
</style>

<style>
    .brand_style{
      display: inline-block;
      width: 150px;
    }
    .v-select .dropdown-menu > li > a {
        color: rgb(39, 39, 39) !important;
    }
    .v-select {
      background: white !important;
    }
    
    .v-select .open-indicator, .v-select .dropdown-toggle .clear{
      display: none;
    }

    .v-select .dropdown-toggle {
      padding: 0px;
    }

    
    .v-select.disabled .dropdown-toggle, .v-select.disabled .dropdown-toggle .clear, .v-select.disabled .dropdown-toggle input, .v-select.disabled .open-indicator, .v-select.disabled .selected-tag .close{
        cursor: not-allowed;
        background-color: #635e5e;
    }
</style>


<script>

import Vue from 'vue'

import NavMenu from '@/views/includes/NavMenu';
import FooterMenu from '@/views/includes/FooterMenu';

import vSelect from 'vue-select'
Vue.component('v-select', vSelect)

export default {
  components: {
    NavMenu,
    FooterMenu,
  },
  data() {
      return{
          hosturl: index_url,
          cart_count: 0,
          parts_forms: [{
            part_no: '',
            part_name: '',
            quantity: 1,
            comment: '',
            file: '',
          }],
          form_data: JSON.parse(localStorage.getItem('form_data')),
          no_of_forms_submit: 0,
      }
  },
  created() {
  },
  mounted(){
  },
  computed: {
  },
  watch: {
  },
  methods: {

      addMoreParts(){

          let new_part_form = new Object;

          new_part_form.part_no = '';
          new_part_form.part_name = '';
          new_part_form.quantity = 1;
          new_part_form.comment = '';
          new_part_form.file = '';

          this.no_of_forms_submit++;
          this.parts_forms.push(new_part_form);

      },

      removePart(index){
        
        if(this.parts_forms.length > 1){
          this.parts_forms.splice(index, 1);
          this.no_of_forms_submit--;
        }else{
          this.Swal("Error", "You can't remove all form field", "error");
        }
      },

      save_to_cart(){

        let $this = this;

        if(this.no_of_forms_submit >= 0){
            
            this.$Progress.start();

            let formData = new FormData();

            formData.append('vin', this.form_data.vin);
            formData.append('brand', this.form_data.brand);
            formData.append('model', this.form_data.model);
            formData.append('year', this.form_data.year);
            formData.append('trim', this.form_data.trim);
            formData.append('part_no', this.parts_forms[this.no_of_forms_submit].part_no);
            formData.append('part_name', this.parts_forms[this.no_of_forms_submit].part_name);
            formData.append('quantity', this.parts_forms[this.no_of_forms_submit].quantity);
            formData.append('comment', this.parts_forms[this.no_of_forms_submit].comment);
            formData.append('order_code', localStorage.getItem('track'));
            formData.append('file', this.$refs.file[this.no_of_forms_submit].files[0]);


              this.axios.post(index_url + '/api/submit-custom-order',formData,{
                  headers: {
                    'Content-Type': 'multipart/form-data',
                  }
              })
              .then(response => {
                  this.no_of_forms_submit--;
                  this.$Progress.finish();

                  this.cart_count = response.data.cart_count;

                  this.save_to_cart()

                  if(this.no_of_forms_submit < 0){
                    this.Swal(
                        'Order added to cart successfully',
                        'press OK to continue',
                        'success'
                    );
                    $this.$router.push({ name: 'cart'})
                  }

              })
              .catch(error => {
              });
        }
      },

  },
}

</script>