<template>
    <div>
        <nav-menu></nav-menu>

        <div class="container">
      
          <div class="row">
            <div class="page-container">
                <div><i class="fa fa-smile-o fa-5x" aria-hidden="true"></i></div>
                <h1>Blog</h1>
               Coming Soon
            </div>
          </div>

        </div>


    </div>
</template>

<style>

  .page-container{
    margin-top:60px;
    margin-bottom:40px;
    text-align: center;
    padding:30px;
    border-radius: 5px;
    background: white;
    border: solid 1px #e8e8e8;
  }
</style>


<script>

import NavMenu from '@/views/includes/NavMenu';

export default {
  components: {
    NavMenu,
  },
}

</script>