<template>
    <div>
        <nav-menu></nav-menu>

        <div class="parts-div">

          <div class="container">
        
            <div class="row">
              <div class="col-md-6">
                <div class="custom-header-bg" style="background: url(images/header_background_red.png) no-repeat">
                    <h3 class="custom-header">BUY <br>PARTS</h3>
                </div>
                <div class="buy_parts_div">
                  <p class="fill-form-text">Please fill all the fields on the form</p>

                  <div class="buy-parts-form">
                    <span style="color:white">VIN</span> 
                    <div class="search-container">
                      <input v-model="vin" type="search" name="" id="input" class="form-control search" value="" placeholder="Enter VIN">
                      <div class="search-rectangle" style="background:white"><i class="fa fa-question-circle fa-lg vin-help" title="Vehicle Identification Number"></i> </div>
                    </div>
                  </div>

                  <div class="buy-parts-form">
                    <span style="color:white">VEHICLE BRAND</span> 
                    <div class="search-container">
                      <v-select v-model="brand" :options="brands" class="search" placeholder="Select Vehicle Brand"></v-select>
                      <div class="search-rectangle" @click="getmodels(brand.value)"><img src="images/down.png" class="search-rectangle-element"> </div>
                    </div>
                  </div>

                  <div class="buy-parts-form">
                    <span style="color:white">VEHICLE MODEL</span> 
                    <div class="search-container">
                      <v-select v-model="model" :options="models" class="search" placeholder="Select Vehicle Model" :disabled="model_disable"></v-select>
                      <div class="search-rectangle" @click="getyears(brand.value, model.value)"><img src="images/down.png" class="search-rectangle-element" :disabled="model_disable"> </div>
                    </div>
                  </div>

                  <div class="buy-parts-form">
                    <span style="color:white">YEAR</span> 
                    <div class="search-container">
                      <v-select v-model="year" :options="years" class="search" placeholder="Select Vehicle Year" :disabled="year_disable"></v-select>
                      <div class="search-rectangle" @click="gettrims(brand.value, model.value, year.value)"><img src="images/down.png" class="search-rectangle-element" :disabled="year_disable"> </div>
                    </div>
                  </div>

                  <div class="buy-parts-form">
                    <span style="color:white">TRIM</span> 
                    <div class="search-container">
                      <v-select v-model="trim" :options="trims" class="search" placeholder="Select Vehicle Trim" :disabled="trim_disable"></v-select>
                      <div class="search-rectangle" @click="viewpartinfo()"><img src="images/down.png" class="search-rectangle-element" :disabled="trim_disable"> </div>
                    </div>
                  </div>

                  <!-- <div v-if="view_partinfo == true">

                    <div class="buy-parts-form">
                      <span style="color:white">PART NO</span> 
                      <div class="search-container">
                        <input type="search" v-model="part_no" name="" id="input" class="form-control search" value="" placeholder="Input Part Number">
                      </div>
                    </div>

                    <div class="buy-parts-form">
                      <span style="color:white">PART NAME</span> 
                      <div class="search-container">
                        <input type="search" v-model="part_name" name="" id="input" class="form-control search" value="" placeholder="Input Part Name">
                      </div>
                    </div>

                    <div class="buy-parts-form">
                      <span style="color:white">QUANTITY</span> 
                      <div class="search-container">
                        <input type="number" v-model="quantity" name="" id="input" class="form-control search" value="" placeholder="Input Quantity">
                      </div>
                    </div>

                    <div class="buy-parts-form">
                      <span style="color:white">COMMENT</span> 
                      <div class="search-container">
                        <textarea name="" v-model="comment" id="" class="form-control search"></textarea>
                      </div>
                    </div>

                    <div class="buy-parts-form">
                      <span style="color:white">FILE</span> 
                      <div class="search-container">
                        <input type="file" name="" id="input" class="form-control search" value="" ref="file" @change="handleFileUpload()"> 
                      </div>
                    </div>

                  </div> -->

                  <div class="submit-part-details">
                    <button type="button" class="btn btn-danger" :value="true" :disabled="submitdisabled" @click="continueToParts()">Continue to part(s)</button>
                  </div>



                </div>
              </div>
              <div class="col-md-6">

                <div class="bg-image">
                  <div class="crossfade">
                      <div style="background:url(images/part-image2.png);">
                      </div>
                      <div style="background:url(images/part-image3.png);">
                      </div>
                  </div>
                </div>

              </div>
            </div>

          </div>

        </div>

        <footer-menu></footer-menu>

    </div>
</template>


<style lang="scss" scoped >
   @import './resources/assets/sass/buy_parts.scss';

  
</style>

<style>
    .v-select .dropdown-menu > li > a {
        color: rgb(39, 39, 39) !important;
    }
    .v-select {
      background: white !important;
    }
    
    .v-select .open-indicator, .v-select .dropdown-toggle .clear{
      display: none;
    }

    .v-select .dropdown-toggle {
      padding: 0px;
    }

    
    .v-select.disabled .dropdown-toggle, .v-select.disabled .dropdown-toggle .clear, .v-select.disabled .dropdown-toggle input, .v-select.disabled .open-indicator, .v-select.disabled .selected-tag .close{
        cursor: not-allowed;
        background-color: #635e5e;
    }
</style>


<script>

import Vue from 'vue'

import NavMenu from '@/views/includes/NavMenu';
import FooterMenu from '@/views/includes/FooterMenu';

import vSelect from 'vue-select'
Vue.component('v-select', vSelect)

export default {
  components: {
    NavMenu,
    FooterMenu,
  },
  data() {
      return{
          hosturl: index_url,
          brands: [],
          brand: {},
          models: [],
          model: {},
          model_disable: true,
          years: [],
          year: {},
          year_disable: true,
          trims: [],
          trim: {},
          trim_disable: true,
          view_partinfo: false,
          vin: '',
          part_no: '',
          part_name: '',
          quantity: 1,
          comment: '',
          //submitdisabled: true,
          file: '',
      }
  },
  created() {
  },
  mounted(){
    this.getbrands();
    this.tooltip()
  },
  computed: {
    submitdisabled: {
      get: function(){
        if(this.vin.length == 0 || this.model_disable == true || this.year_disable == true || this.trim_disable == true){
          return true;
        }else{
          return false;
        }
      },

      set: function(){
        this.model_disable = true;
        this.year_disable = true;
        this.trim_disable = true;
      }

      
    }
  },
  watch: {
    'vin' : function (newVal, oldVal){
      let $this = this;
      if(this.vin.length != 0){
        $this.submitdisabled = false;
      }else{
        $this.submitdisabled = true;
      }
    },
    'brand' : function(newVal, oldVal){
        this.getmodels(this.brand.value)
    },
    'model' : function(newVal, oldVal){
        this.getyears(this.brand.value, this.model.value)
    },
    'year' : function(newVal, oldVal){
        this.gettrims(this.brand.value, this.model.value, this.year.value)
    },
    'trim' : function(newVal, oldVal){
        this.viewpartinfo()
    }
  },
  methods: {
      tooltip() {
        $( ".vin-help" ).tooltip({
          show: null,
          position: {
            my: "center bottom-20",
            at: "center bottom"
          },
          open: function( event, ui ) {
            ui.tooltip.animate({ left: ui.tooltip.position().left - 100}, "fast" );
          }
        });
      },

      continueToParts(){

          let $this = this;

          let formData = new FormData();

          let form_data = new Object;

          form_data.vin = this.vin;
          form_data.brand = this.brand.label;
          form_data.model = this.model.label;
          form_data.year = this.year.label;
          form_data.trim = this.trim.label;

          localStorage.setItem('form_data', JSON.stringify(form_data));

          $this.$router.push({ name: 'add_to_brand'})

  
      },

      

      getbrands(){
        
          
          let $this = this;

          this.axios.get(index_url + '/api/get-brands')
              .then(response => {
                  $this.brands = [];
                  let brands = response.data.brands;
                  var arrayLength = brands.length;
                  for (var i = 0; i < arrayLength; i++) {
                      let new_brand = {
                          label: brands[i].title,
                          value: brands[i].slug,
                      }
                      $this.brands.push(new_brand);

                  }


          })
          .catch(error => {
          });
      },

      getmodels(slug){

          if(slug.length != 0){

            let $this = this;
            this.axios.get(index_url + '/api/get-models/' + slug)
                  .then(response => {
                      $this.models = []; 
                      
                      let models = response.data.models;
                      var arrayLength = models.length;
                      for (var i = 0; i < arrayLength; i++) {
                          let new_model = {
                              label: models[i].title,
                              value: models[i].slug,
                          }
                          $this.models.push(new_model);
                          
                      }

                      $this.model_disable = false;

              })
              .catch(error => {
              });

          }
      },

      getyears(brand, model){
        if(model.length != 0){
          let $this = this;
          this.axios.get(index_url + '/api/get-years/' + brand + '/' + model)
                .then(response => {

                    $this.years = [];
                    
                    let years = response.data.years;
                    var arrayLength = years.length;
                    for (var i = 0; i < arrayLength; i++) {
                        let new_year = {
                            label: years[i].title,
                            value: years[i].title,
                        }
                        $this.years.push(new_year);
                        
                    }

                    $this.year_disable = false;


            })
            .catch(error => {
            });
        }
      },

      gettrims(brand, model, year){


        if(year.length != 0){
        
          let $this = this;
          this.axios.get(index_url + '/api/get-trims/' + brand + '/' + model + '/' + year)
                .then(response => {

                    $this.trims = [];
                    
                    let trims = response.data.trims;
                    var arrayLength = trims.length;
                    for (var i = 0; i < arrayLength; i++) {
                        let new_trim = {
                            label: trims[i].title,
                            value: trims[i].slug,
                        }
                        $this.trims.push(new_trim);
                        
                    }

                    $this.trim_disable = false;


            })
            .catch(error => {
            });
        }
      },

      viewpartinfo(){
          this.view_partinfo = true;
      },
      handleFileUpload(){
        this.file = this.$refs.file.files[0];
      }
  },
}

</script>