<template>
    <div>
        <nav-menu :cartcount="cart_count"></nav-menu>
        <div class="grid-spinner"><grid-loader :loading="!initialLoad" :color="'#ed3137'"></grid-loader></div>
        <div class="container" style="margin-bottom: 60px">

            <div class="pg-header-bg" :style="'background: url(' + hosturl + 'images/header_background.png) no-repeat'">
                <h3 class="pg-header">CART</h3>
            </div>

            <div class="row">
              <div style="text-align:center;" class="">
                <h3 v-if="cart_count == 0 && initialLoad == true">Your cart is empty, please visit the products page</h3>
                <div v-for="(product, index) in normal_product" :key="product.id">
                  <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="product-box">
                        <router-link :to="{ name: 'product_page', params:{ product: product.slug}}" class=""><img v-if="product.default_image != null" :src="imagelink(product.default_image.media)" alt="" class="product-image"></router-link>
                        <div class="product-mini-details">
                            <router-link :to="{ name: 'product_page', params:{ product: product.slug}}" class=""><h3 class="product-headline">{{product.product_title}}</h3></router-link>
                            <div class="product-category"><small class="">normal order</small></div>
                            <div style="text-align:left">-</div>
                            <div style="text-align:left">-</div>
                            <div class="unit-price">Unit Price: <span class="naira">₦</span>{{formatter.format(product.price)}}</div>
                            <div class="quantity">
                              Quantity: 
                              <select v-model="product.quantity" @change="selectquantity(product.quantity, product.price, product.total, index, product.id)">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                                <option>13</option>
                                <option>14</option>
                                <option>15</option>
                              </select>

                            </div>
                            <h3 class="product-price">Total: <span class="naira">₦</span>{{formatter.format(product.total)}}</h3>
                            <div class="remove-from-cart"><button class="btn btn-primary btn-sm" @click="removeNormalCart(product.id,product.order_code)"> Remove</button></div>
                            <div style="clear:both"></div>
                        </div>
                    </div>
                  </div>
                </div>
                <div v-for="product in custom_product" :key="'custom_' + product.id">
                  <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="product-box">
                        <router-link :to="{ name: 'custom_product_page', params:{ id: product.id, vin: product.vin}}" class=""><img :src="imagelink(product.media)" alt="" class="product-image"></router-link>
                        <div class="product-mini-details">
                            <router-link :to="{ name: 'custom_product_page', params:{ id: product.id, vin: product.vin}}" class=""><h3 class="product-headline">{{product.part_name}}</h3></router-link>
                            <div class="product-category"><small class="">custom order</small></div>
                            <div style="text-align:left">VIN: {{product.vin}}</div>
                            <div style="text-align:left">{{product.brand}} {{product.model}} {{product.year_selected}}</div>
                            <div class="unit-price">
                              Unit Price: <span class="naira">₦</span>{{formatter.format(product.price)}}
                            </div>
                            <div class="quantity">
                              Quantity: {{product.quantity}}
                            </div>
                            <h3 class="product-price" :class="{ nodisplay: product.total == null }">Total: <span class="naira">₦</span>{{formatter.format(product.total)}}</h3>
                            <div class="remove-from-cart"><button class="btn btn-primary btn-sm" @click="removeCustomCart(product.id,product.order_code)"> Remove</button></div>
                            <div style="clear:both"></div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" style="text-align:center">
              <router-link v-if="cart_count != 0 && initialLoad == true" :to="{ name: 'checkout'}" class="btn btn-success btn-lg" style="margin-top:30px">Submit Order</router-link>
            </div>

        </div>

        <footer-menu></footer-menu>

    </div>
</template>


<style lang="scss" scoped >
   @import './resources/assets/sass/general.scss';
   @import './resources/assets/sass/product_page.scss';

   .pg-header{
    font-size: 30px;
    color: $red;
    margin-top: 40px;
    padding: 45px 0px 0px 65px;
  }

  .pg-header-bg{
    height: 125px;
    background-size: contain !important;
    margin-bottom:45px;
  }

  .unit-price{
    font-family: HelveticaNeue;
    text-align: left;
    margin-top: 10px;
  }

  .quantity{
    font-family: HelveticaNeue;
    text-align: left;
  }

  .product-price{
    font-family: HelveticaNeueMed;
    margin-top: 10px;
  }

  .nodisplay{
    opacity: 0;
    cursor:default !important;
  }

  .nodisplay .btn{
    opacity: 0;
    cursor:default !important;
  }

  .btn{
    color: white !important;
  }
</style>

<style>
  .product-nav-color{
    color: #ed3137 !important;
    font-weight: bolder !important; 
  }

  span.vue-star-rating-rating-text {
      display: none;
  }
  
</style>

<style>
  .btn{
    font-family: HelveticaNeueMed;
    color: white;
  }

  .grid-spinner{
    text-align: center;
    left: 50%;
    position: fixed;
    top: 20%;
  }

</style>



<script>

import NavMenu from '@/views/includes/NavMenu';
import FooterMenu from '@/views/includes/FooterMenu';

export default {
  components: {
    NavMenu,
    FooterMenu, 
  },
  data(){
    return {
      normal_product: [],
      custom_product: [],
      hosturl: index_url + "/",
      cart_count : 0,
      initialLoad: false,
      formatter: new Intl.NumberFormat('en-US', {
          style: 'decimal',
          minimumFractionDigits: 2
      }),
    }
  },
  created() {
  },
  mounted(){
      this.fetchData();
  },
  methods: {
          fetchData() {

              let $this = this;
            
              this.axios.get(index_url + '/api/get-cart', {
                headers: {
                    Authorization: 'Bearer ' + localStorage.getItem('token')
                },
                params:{
                  order_code:  localStorage.getItem('track')
                }
              })
              .then(response => {
                  $this.normal_product = response.data.normal;
                  $this.custom_product = response.data.custom;
                  $this.cart_count = response.data.cart_count;

                  if($this.cart_count == undefined){
                    $this.cart_count = 0;
                  }

                  $this.initialLoad = true;
              })
              .catch(error => {
              });
          },

          imageActive(index){
            if(index == 0){
              return true;
            }else{
              return false;
            }
          },
          imagelink(link){
              if(link == null){
                var img_src = "https://cdn2.iconfinder.com/data/icons/picons-essentials/71/gallery-512.png";
              }else{
                var img_src = index_url + '/' + link;
              }  

              return img_src;
          },
          selectquantity(quantity, price, total, index, id){
            let new_total = total;
            this.normal_product[index].total = new_total = quantity * price;
            
            //this.cart_count = quantity;
            this.axios.get(index_url + '/api/update-normal-cart', {
                headers: {
                    Authorization: 'Bearer ' + localStorage.getItem('token')
                },
                params: {
                    quantity: quantity,
                    price: price,
                    total: new_total,
                    id: id,
                }
              })
              .then(response => {
                  $this.normal_product = response.data.normal;
                  $this.custom_product = response.data.custom;
              })
              .catch(error => {
              });
          },

          removeNormalCart(id,order_code){

            let $this = this;

            this.Swal({
                title: 'Are you sure?',
                text: "You are about to remove product from cart",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#2ecc71',
                confirmButtonText: 'Yes, remove it!'
            }).then((result) => {

                if (result.value) {

                    this.axios.get(index_url + '/api/remove-from-normal-cart', {
                    headers: {
                        Authorization: 'Bearer ' + localStorage.getItem('token')
                    },
                    params: {
                        id: id,
                        order_code: order_code,
                    }
                  })
                  .then(response => {
                      $this.normal_product = response.data.normal;
                      $this.custom_product = response.data.custom;
                      $this.cart_count = response.data.cart_count;
                  })
                  .catch(error => {
                  });
                }
            })
          },

          removeCustomCart(id,order_code){

            let $this = this;


            this.Swal({
                title: 'Are you sure?',
                text: "You are about to remove product from cart",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#2ecc71',
                confirmButtonText: 'Yes, remove it!'
            }).then((result) => {

                this.axios.get(index_url + '/api/remove-from-custom-cart', {
                  headers: {
                      Authorization: 'Bearer ' + localStorage.getItem('token')
                  },
                  params: {
                      id: id,
                      order_code: order_code,
                  }
                })
                .then(response => {
                    $this.normal_product = response.data.normal;
                    $this.custom_product = response.data.custom;
                    $this.cart_count = response.data.cart_count;
                })
                .catch(error => {
                });

            })

          }
  },

}

</script>