<template>
    <div>
        <nav-menu :cartcount="cart_count"></nav-menu>

        <div class="container" style="margin-bottom: 60px">

            <div class="pg-header-bg" :style="'background: url(' + hosturl + 'images/header_background.png) no-repeat'">
                <h3 class="pg-header">CHECKOUT</h3>
            </div>

            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <div>
                  <div class="payment-box" v-if="form_success == false">
                    <h3 style="margin: 30px 0px; text-align:center">Order Form</h3>
                    <div>
                      <form @submit.prevent="send_order">
                          <div class="form-group">
                              <label>Full Name</label>
                              <input v-model="form.name" type="text" class="form-control">
                          </div>

                          <div class="form-group">
                              <label>Email</label>
                              <input v-model="form.email" type="email" class="form-control">
                          </div>

                          <div class="form-group">
                              <label>Mobile Number</label>
                              <input v-model="form.mobile" type="text" class="form-control">
                          </div>

                          <div class="form-group">
                            <label for="">State Of Origin</label>
                            <select name="state_of_origin" v-model="form.state_of_origin" id="" class="form-control" required="required">
                                  <option value="Abuja FCT">Abuja FCT</option>
                                    <option value="Abia">Abia</option>
                                    <option value="Adamawa">Adamawa</option>
                                    <option value="Akwa Ibom">Akwa Ibom</option>
                                    <option value="Anambra">Anambra</option>
                                    <option value="Bauchi">Bauchi</option>
                                    <option value="Bayelsa">Bayelsa</option>
                                    <option value="Benue">Benue</option>
                                    <option value="Borno">Borno</option>
                                    <option value="Cross River">Cross River</option>
                                    <option value="Delta">Delta</option>
                                    <option value="Ebonyi">Ebonyi</option>
                                    <option value="Edo">Edo</option>
                                    <option value="Ekiti">Ekiti</option>
                                    <option value="Enugu">Enugu</option>
                                    <option value="Gombe">Gombe</option>
                                    <option value="Imo">Imo</option>
                                    <option value="Jigawa">Jigawa</option>
                                    <option value="Kaduna">Kaduna</option>
                                    <option value="Kano">Kano</option>
                                    <option value="Katsina">Katsina</option>
                                    <option value="Kebbi">Kebbi</option>
                                    <option value="Kogi">Kogi</option>
                                    <option value="Kwara">Kwara</option>
                                    <option value="Lagos" selected>Lagos</option>
                                    <option value="Nassarawa">Nassarawa</option>
                                    <option value="Niger">Niger</option>
                                    <option value="Ogun">Ogun</option>
                                    <option value="Ondo">Ondo</option>
                                    <option value="Osun">Osun</option>
                                    <option value="Oyo">Oyo</option>
                                    <option value="Plateau">Plateau</option>
                                    <option value="Rivers">Rivers</option>
                                    <option value="Sokoto">Sokoto</option>
                                    <option value="Taraba">Taraba</option>
                                    <option value="Yobe">Yobe</option>
                                    <option value="Zamfara">Zamfara</option>
                            </select>
                          </div>

                          <div class="form-group">
                            <label for="">Local Government Area</label>
                            <select name="lga" v-model="form.lga" id="" class="form-control" required="required">
                                <option v-for="item in lgas" :key="item">{{item}}</option>
                            </select>
                          </div>

                          <div class="form-group">
                              <label>Address</label>
                              <input v-model="form.address" type="text" class="form-control">
                          </div>

                          <div  style="text-align:center"><button class="btn btn-success" :disabled="disabled">Send Order <i v-if="disabled == true" class="fa fa-circle-o-notch fa-spin" style="font-size:18px"></i></button></div>
                      </form>
                    </div>

                  </div>
 

                </div>

                <div class="form_success" v-if="form_success == true">

                    <i class="fa fa-check" style="font-size:150px; color:#0d853b"></i>
                    <h3 style="text-align: center;">Successful</h3>
                    <br>
                    <div style="font-size: 20px;">Form Submitted Successfully. Your order code is <strong>{{order_code}}</strong>. it has also been sent to your email</div>
                    <br>
                    <div style="font-size: 16px;">You will receive a call from our representative shortly</div>

                    <router-link :to="{name: 'myorders'}" class="btn btn-info" style="margin-top:25px"> View Orders</router-link>

                </div>
              </div>
              <div class="col-md-2"></div>
            </div>


        </div>

        <footer-menu></footer-menu>

    </div>
</template>


<style lang="scss" scoped >
   @import './resources/assets/sass/general.scss';
   @import './resources/assets/sass/product_page.scss';


   .payment-box{
     background: white;
     border-radius: 10px;
     border: solid 1px #00000020;
     padding: 25px;
     
   }

   .form_success{
     background: white;
     border-radius: 10px;
     border: solid 1px #00000020;
     padding: 25px;
     text-align: center;
     
   }

   .payment-box p{
     margin-top: 10px;
   }

   .pg-header{
    font-size: 30px;
    color: $red;
    margin-top: 40px;
    padding: 45px 0px 0px 65px;
  }

  .pg-header-bg{
    height: 125px;
    background-size: contain !important;
    margin-bottom:5px;
  }

  .btn{
    font-family: HelveticaNeueMed;
  }

  .unit-price{
    font-family: HelveticaNeue;
    text-align: left;
    margin-top: 10px;
  }

  .quantity{
    font-family: HelveticaNeue;
    text-align: left;
  }

  .product-price{
    font-family: HelveticaNeueMed;
    margin-top: 10px;
  }

  .nodisplay{
    opacity: 0;
    cursor:default !important;
  }

  .nodisplay .btn{
    opacity: 0;
    cursor:default !important;
  }
</style>

<style>
  .product-nav-color{
    color: #ed3137 !important;
    font-weight: bolder !important; 
  }

  span.vue-star-rating-rating-text {
      display: none;
  }
  
  button.payButton {
      border: none;
      background: none;
  }

  .btn{
    color: white !important;
  }

  .grid-spinner{
    text-align: center;
    left: 50%;
    position: fixed;
    top: 30%;
  }
</style>



<script>

import NavMenu from '@/views/includes/NavMenu';
import FooterMenu from '@/views/includes/FooterMenu';

import paystack from 'vue-paystack';

export default {
  components: {
    NavMenu,
    FooterMenu, 
    paystack,
  },
  data(){
    return {
      normal_product: [],
      custom_product: [],
      hosturl: index_url + "/",
      order_code: localStorage.getItem("track"),
      cart_count : 0,
      totalprice: 0,
      disabled: false,
      form_success: false,
      initialload: false,
      lgas: [],
      form: {
        name: '',
        email: '',
        mobile: '',
        state_of_origin: '',
        lga: '',
        address: '',
      },

    }
  },
  created() {
  },
  mounted(){
      this.fetchData();
  },
  watch: {
    "form.state_of_origin": function(){
        this.loadLga();
    },
  },
  computed: {

  },
  methods: {
    fetchData() {

        let $this = this;
      
        this.axios.get(index_url + '/api/get-cart', {
          headers: {
              Authorization: 'Bearer ' + localStorage.getItem('token')
          },
          params:{
            order_code:  localStorage.getItem('track')
          }
        })
        .then(response => {
            $this.normal_product = response.data.normal;
            $this.custom_product = response.data.custom;
            $this.cart_count = response.data.cart_count;
            $this.totalprice = response.data.totalprice;
            $this.email = response.data.email;

            $this.initialload = true;

            if($this.cart_count == 0){
              $this.$router.push({ name: 'cart' });
            }
        })
        .catch(error => {
        });
    },

    send_order(){
      let $this = this;
      this.$Progress.start();
      this.disabled = true;
      this.axios.post(index_url + '/api/send-order', {
        name: this.form.name,
        email: this.form.email,
        address: this.form.address,
        mobile: this.form.mobile,
        state: this.form.state_of_origin,
        lga: this.form.lga,
        order_code: this.order_code
      })
      .then(response => { 
          $this.$Progress.finish();
          $this.cart_count = response.data.cart_count;
          $this.form_success = true;
          $this.disabled = false;
          window.scrollTo(0,0);

          localStorage.removeItem('track');
      })
      .catch(error => {
          $this.$Progress.fail();
          $this.disabled = false;
          $this.Swal(
              'An Error Occurred',
              "",
              'error'
          );
      });
    },
  

    loadLga() {
      
      var $this = this;

      switch (this.form.state_of_origin) {
        case "Abia":
          $this.lgas = ["Aba North","Aba South","Arochukwu","Bende, Abia","Ikwuano","Isiala Ngwa North","Isiala Ngwa South","Isuikwuato","Ohafia","Osisioma Ngwa","Ugwunagbo","Ukwa East","Ukwa West","Umu Nneochi","Umuahia North","Umuahia South","Obi Ngwa"];
          break;

        case "Adamawa":
          $this.lgas = ["Demsa","Fufure","Ganye","Gayuk","Gombi","Grie","Hong","Jada","Lamurde","Madagali","Maiha","Mayo Belwa","Michika","Mubi North","Mubi South","Numan","Shelleng","Song","Toungo","Yola North","Yola South"];
          break;

        case "Akwa Ibom":
          $this.lgas = ["Abak","Eastern Obolo","Eket","Esit Eket","Essien Udim","Etim Ekpo","Etinan","Ibeno","Ibesikpo Asutan","Ibiono-Ibom","Ika","Ikono","Ikot Abasi","Ikot Ekpene","Ini","Itu","Mbo","Mkpat-Enin","Nsit-Atai","Nsit-Ibom","Nsit-Ubium","Obot Akara","Okobo","Onna","Oron","Oruk Anam","Udung-Uko","Ukanafun","Uruan","Urue-Offong/Oruko","Uyo"];
          break;

        case "Anambra":
          $this.lgas = ["Aguata","Anambra East","Anambra West","Anaocha","Awka North","Awka South","Ayamelum","Dunukofia","Ekwusigo","Idemili North","Idemili South","Ihiala","Njikoka","Nnewi North","Nnewi South","Ogbaru","Onitsha North","Onitsha South","Orumba North","Orumba South","Oyi"];
          break;

        case "Bauchi":
          $this.lgas = ["Alkaleri","Bauchi","Bogoro","Damban","Darazo","Dass","Gamawa","Ganjuwa","Giade","Itas/Gadau","Jama'are","Katagum","Kirfi","Misau","Ningi","Shira","Tafawa Balewa","Toro","Warji","Zaki"];
          break;

        case "Bayelsa":
          $this.lgas = ["Brass","Ekeremor","Kolokuma/Opokuma","Nembe","Ogbia","Sagbama","Southern Ijaw","Yenagoa"];
          break;

        case "Benue":
          $this.lgas = ["Agatu","Apa","Ado","Buruku","Gboko","Guma","Gwer East","Gwer West","Katsina-Ala","Konshisha","Kwande","Logo","Makurdi","Obi","Ogbadibo","Ohimini","Oju","Okpokwu","Oturkpo","Tarka","Ukum","Ushongo","Vandeikya"];
          break;

        case "Borno":
          $this.lgas = ["Abadam","Askira/Uba","Bama","Bayo","Biu","Chibok","Damboa","Dikwa","Gubio","Guzamala","Gwoza","Hawul","Jere","Kaga","Kala/Balge","Konduga","Kukawa","Kwaya Kusar","Mafa","Magumeri","Maiduguri","Marte","Mobbar","Monguno","Ngala","Nganzai","Shani"];
          break;

        case "Cross River":
          $this.lgas = ["Abi","Akamkpa","Akpabuyo","Bakassi","Bekwarra","Biase","Boki","Calabar Municipal","Calabar South","Etung","Ikom","Obanliku","Obubra","Obudu","Odukpani","Ogoja","Yakuur","Yala"];
          break;

        case "Delta":
          $this.lgas = ["Aniocha North","Aniocha South","Bomadi","Burutu","Ethiope East","Ethiope West","Ika North East","Ika South","Isoko North","Isoko South","Ndokwa East","Ndokwa West","Okpe","Oshimili North","Oshimili South","Patani","Sapele","Udu","Ughelli North","Ughelli South","Ukwuani","Uvwie","Warri North","Warri South","Warri South West"];
          break;

        case "Ebonyi":
          $this.lgas = ["Abakaliki","Afikpo North","Afikpo South","Ebonyi","Ezza North","Ezza South","Ikwo","Ishielu","Ivo","Izzi","Ohaozara","Ohaukwu","Onicha"];
          break;

        case "Edo":
          $this.lgas = ["Akoko-Edo","Egor","Esan Central","Esan North-East","Esan South-East","Esan West","Etsako Central","Etsako East","Etsako West","Igueben","Ikpoba Okha","Orhionmwon","Oredo","Ovia North-East","Ovia South-West","Owan East","Owan West","Uhunmwonde"];
          break;

        case "Ekiti":
          $this.lgas = ["Ado Ekiti","Efon","Ekiti East","Ekiti South-West","Ekiti West","Emure","Gbonyin","Ido Osi","Ijero","Ikere","Ikole","Ilejemeje","Irepodun/Ifelodun","Ise/Orun","Moba","Oye"];
          break;

        case "Enugu":
          $this.lgas = ["Aninri","Awgu","Enugu East","Enugu North","Enugu South","Ezeagu","Igbo Etiti","Igbo Eze North","Igbo Eze South","Isi Uzo","Nkanu East","Nkanu West","Nsukka","Oji River","Udenu","Udi","Uzo Uwani"];
          break;

        case "Gombe":
          $this.lgas = ["Akko","Balanga","Billiri","Dukku","Funakaye","Gombe","Kaltungo","Kwami","Nafada","Shongom","Yamaltu/Deba"];
          break;

        case "Imo":
          $this.lgas = ["Aboh Mbaise","Ahiazu Mbaise","Ehime Mbano","Ezinihitte","Ideato North","Ideato South","Ihitte/Uboma","Ikeduru","Isiala Mbano","Isu","Mbaitoli","Ngor Okpala","Njaba","Nkwerre","Nwangele","Obowo","Oguta","Ohaji/Egbema","Okigwe","Orlu","Orsu","Oru East","Oru West","Owerri Municipal","Owerri North","Owerri West","Unuimo"];
          break;

        case "Jigawa":
          $this.lgas = ["Auyo","Babura","Biriniwa/option><option>Birnin Kudu","Buji","Dutse/option><option>Gagarawa","Garki","Gumel/option><option>Guri","Gwaram","Gwiwa","Hadejia","Jahun","Kafin Hausa","Kaugama","Kazaure","Kiri Kasama","Kiyawa","Maigatari","Malam Madori","Miga","Ringim","Roni","Sule Tankarkar","Taura","Yankwashi"];
          break;

        case "Kaduna":
          $this.lgas = ["Birnin Gwari","Chikun","Giwa","Igabi","Ikara","Jaba","Jema'a","Kachia","Kaduna North","Kaduna South","Kagarko","Kajuru","Kaura","Kauru","Kubau","Kudan","Lere","Makarfi","Sabon Gari","Sanga","Soba","Zangon Kataf","Zaria"];
          break;

        case "Kano":
          $this.lgas = ["Ajingi","Albasu","Bagwai","Bebeji","Bichi","Bunkure","Dala","Dambatta","Dawakin Kudu","Dawakin Tofa","Doguwa","Fagge","Gabasawa","Garko","Garun Mallam","Gaya","Gezawa","Gwale","Gwarzo","Kabo","Kano Municipal","Karaye","Kibiya","Kiru","Kumbotso","Kunchi","Kura","Madobi","Makoda","Minjibir","Nasarawa","Rano","Rimin Gado","Rogo","Shanono","Sumaila","Takai","Tarauni","Tofa","Tsanyawa","Tudun Wada","Ungogo","Warawa","Wudil"];
          break;

        case "Katsina":
          $this.lgas = ["Bakori","Batagarawa","Batsari","Baure","Bindawa","Charanchi","Dandume","Danja","Dan Musa","Daura","Dutsi","Dutsin Ma","Faskari","Funtua","Ingawa","Jibia","Kafur","Kaita","Kankara","Kankia","Katsina","Kurfi","Kusada","Mai'Adua","Malumfashi","Mani","Mashi","Matazu","Musawa","Rimi","Sabuwa","Safana","Sandamu","Zango"];
          break;

        case "Kebbi":
          $this.lgas = ["Aleiro","Arewa Dandi","Argungu","Augie","Bagudo","Birnin Kebbi","Bunza","Dandi","Fakai","Gwandu","Jega","Kalgo","Koko/Besse","Maiyama","Ngaski","Sakaba","Shanga","Suru","Wasagu/Danko","Yauri","Zuru"];
          break;

        case "Kogi":
          $this.lgas = ["Adavi","Ajaokuta","Ankpa","Bassa","Dekina","Ibaji","Idah","Igalamela Odolu","Ijumu","Kabba/Bunu","Kogi","Lokoja","Mopa Muro","Ofu","Ogori/Magongo","Okehi","Okene","Olamaboro","Omala","Yagba East","Yagba West"];
          break;

        case "Kwara":
          $this.lgas = ["Asa","Baruten","Edu","Ekiti","Ifelodun","Ilorin East","Ilorin South","Ilorin West","Irepodun","Isin","Kaiama","Moro","Offa","Oke Ero","Oyun","Pategi"];
          break;

        case "Lagos":
          $this.lgas = ["Agege","Ajeromi-Ifelodun","Alimosho","Amuwo-Odofin","Apapa","Badagry","Epe","Eti Osa","Ibeju-Lekki","Ifako-Ijaiye","Ikeja","Ikorodu","Kosofe","Lagos Island","Lagos Mainland","Mushin","Ojo","Oshodi-Isolo","Shomolu","Surulere"];
          break;

        case "Nassarawa":
          $this.lgas = ["Akwanga","Awe","Doma","Karu","Keana","Keffi","Kokona","Lafia","Nasarawa","Nasarawa Egon","Obi","Toto","Wamba"];
          break;

        case "Niger":
          $this.lgas = ["Agaie","Agwara","Bida","Borgu","Bosso","Chanchaga","Edati","Gbako","Gurara","Katcha","Kontagora","Lapai","Lavun","Magama","Mariga","Mashegu","Mokwa","Moya","Paikoro","Rafi","Rijau","Shiroro","Suleja","Tafa","Wushishi"];
          break;

        case "Ogun":
          $this.lgas = ["Abeokuta North","Abeokuta South","Ado-Odo/Ota","Ewekoro","Ifo","Ijebu East","Ijebu North","Ijebu North East","Ijebu Ode","Ikenne","Imeko Afon","Ipokia","Obafemi Owode","Odogbolu","Odeda","Ogun Waterside","Remo North","Sagamu","Yewa North","Yewa South"];
          break;

        case "Ondo":
          $this.lgas = ["Akoko North-East","Akoko North-West","Akoko South-West","Akoko South-East","Akure North","Akure South","Ese Odo","Idanre","Ifedore","Ilaje","Ile Oluji/Okeigbo","Irele","Odigbo","Okitipupa","Ondo East","Ondo West","Ose","Owo"];
          break;

        case "Osun":
          $this.lgas = ["Atakunmosa East","Atakunmosa West","Aiyedaade","Aiyedire","Boluwaduro","Boripe","Ede North","Ede South","Ife Central","Ife East","Ife North","Ife South","Egbedore","Ejigbo","Ifedayo","Ifelodun","Ila","Ilesa East","Ilesa West","Irepodun","Irewole","Isokan","Iwo","Obokun","Odo Otin","Ola Oluwa","Olorunda","Oriade","Orolu","Osogbo"];
          break;

        case "Oyo":
          $this.lgas = ["Afijio","Akinyele","Atiba","Atisbo","Egbeda","Ibadan North","Ibadan North-East","Ibadan North-West","Ibadan South-East","Ibadan South-West","Ibarapa Central","Ibarapa East","Ibarapa North","Ido","Irepo","Iseyin","Itesiwaju","Iwajowa","Kajola","Lagelu","Ogbomosho North","Ogbomosho South","Ogo Oluwa","Olorunsogo","Oluyole","Ona Ara","Orelope","Ori Ire","Oyo","Oyo East","Saki East","Saki West","Surulere"];
          break;

        case "Plateau":
          $this.lgas = ["Bokkos","Barkin Ladi","Bassa","Jos East","Jos North","Jos South","Kanam","Kanke","Langtang South","Langtang North","Mangu","Mikang","Pankshin","Qua'an Pan","Riyom","Shendam","Wase"];
          break;

        case "Rivers":
          $this.lgas = ["Abua/Odual","Ahoada East","Ahoada West","Akuku-Toru","Andoni","Asari-Toru","Bonny","Degema","Eleme","Emuoha","Etche","Gokana","Ikwerre","Khana","Obio/Akpor","Ogba/Egbema/Ndoni","Ogu/Bolo","Okrika","Omuma","Opobo/Nkoro","Oyigbo","Port Harcourt","Tai"];
          break;

        case "Sokoto":
          $this.lgas = ["Binji","Bodinga","Dange Shuni","Gada","Goronyo","Gudu","Gwadabawa","Illela","Isa","Kebbe","Kware","Rabah","Sabon Birni","Shagari","Silame","Sokoto North","Sokoto South","Tambuwal","Tangaza","Tureta","Wamako","Wurno","Yabo"];
          break;

        case "Taraba":
          $this.lgas = ["Ardo Kola","Bali","Donga","Gashaka","Gassol","Ibi","Jalingo","Karim Lamido","Kurmi","Lau","Sardauna","Takum","Ussa","Wukari","Yorro","Zing"];
          break;

        case "Yobe":
          $this.lgas = ["Bade","Bursari","Damaturu","Geidam","Gujba","Gulani","Fika","Fune","Jakusko","Karasuwa","Machina","Nangere","Nguru","Potiskum","Tarmuwa","Yunusari","Yusufari"];
          break;

        case "Zamfara":
          $this.lgas = ["Abua/Odual","Ahoada East","Ahoada West","Akuku-Toru","Andoni","Asari-Toru","Bonny","Degema","Eleme","Emuoha","Etche","Gokana","Ikwerre","Khana","Obio/Akpor","Ogba/Egbema/Ndoni","Ogu/Bolo","Okrika","Omuma","Opobo/Nkoro","Oyigbo","Port Harcourt","Tai"];
          break;

        case "Abuja FCT":
          $this.lgas = ["Abaji","Bwari","Gwagwalada","Kuje","Kwali","Municipal Area Council"];
          break;

        default:
          break;
      }

      this.form.lga = this.lgas[0];
    },
  },

}

</script>