<template>
    <div>
        <nav-menu></nav-menu>

        <div class="container">
      
          <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">
            
              
              <div class="login-container">
                <h3 class="login_header">Login</h3>
                <form @submit.prevent="login" @keydown="form.onKeydown($event)">
                    <div class="form-group">
                    <label>Email</label>
                    <input v-model="form.email" type="text" name="email"
                        class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                    <has-error :form="form" field="email"></has-error>
                    </div>

                    <div class="form-group">
                    <label>Password</label>
                    <input v-model="form.password" type="password" name="password"
                        class="form-control" :class="{ 'is-invalid': form.errors.has('password') }">
                    <has-error :form="form" field="password"></has-error>
                    </div>

                    <div @click="resetPasswordModal()" class="forgotpassword">
                        I can't remember my password
                    </div>

                    <button :disabled="form.busy" type="submit" class="btn btn-primary">Log In</button>
                </form>

                <router-link :to="{name: 'register'}" class="btn btn-success btn-sm newaccount" aria-expanded="false">
                    Create a new account :)
                </router-link>
              </div>

              

            </div>

            <div class="col-md-2"></div>
          </div>

        </div>

        <modal name="passwordreset" height=auto width="50%" classes="resetmodal">
            <div class="resettingPassword">
                <h5 class="inputemail" style="margin-bottom:10px">Input your email and click the reset password button</h5>

                <div style="padding: 30px">
                    <input v-model="email" type="email" name="email" class="form-control">
                    <button class="btn btn-primary" style="margin-top:20px" @click="resetPassword()"> <i class="fa fa-save"></i> Reset Password</button>
                </div>
            </div>
        </modal>


    </div>
</template>

<style scoped>

    .newaccount{
        margin-top: 10px;
        font-family: HelveticaNeueMed;
    }

    .login-container{
        margin-top:40px;
        margin-bottom:40px;
        padding:30px;
        border-radius: 5px;
        background: white;
        border: solid 1px #e8e8e8;
    }

    .login_header{
        margin-bottom:35px; 
        border-bottom: solid 1px #c9c9c9; 
        padding-bottom:10px
    }

    form{
        font-weight: 500;
        font-family: HelveticaNeueMed;
    }

    .forgotpassword{
        margin-bottom:10px;
        cursor: pointer;
    }

    .resettingPassword{
        font-weight: 500;
        font-family: HelveticaNeueMed;
    }

</style>

<style>
    
    .resetmodal {
        padding: 0px !important;
        border-radius: 10px;
        border: solid 2px #dfdddd;
        text-align: center;
        background: white;
    }

    .inputemail{
        background-color: #a12327;
        padding:15px;
        color: white;
        margin-top: 0px;
    }
</style>


<script>
    import NavMenu from '@/views/includes/NavMenu';

    import Vue from 'vue'
    import { Form, HasError, AlertError } from 'vform'

    import axios from 'axios';

    import store from '@/store/index';

    Vue.component(HasError.name, HasError)
    Vue.component(AlertError.name, AlertError)

    export default {

        components:{
          NavMenu,
        },

        data () {
            return {
                loginError: false,
                index_url: store.getters.index_url,
                email: '',
                form: new Form({
                    email: '',
                    password: '',
                    remember: false
                }),

            }
        },

        methods: {
            login () {

                let getThis = this; 
                this.$Progress.start();
                this.loginError = false;
           
           
                this.form.post(this.index_url + '/api/login')
                    .then(({ data }) => { 
                        this.$Progress.finish();
                        getThis.storeData(data,getThis)
                    })
                    .catch(error => {
                        this.$Progress.fail();
                        popup({
                            type: 'error',
                            title: 'Unsuccessful',
                            text: 'Invalid email and password'
                        });
                    });
            },

            storeData(data,getThis){
                store.commit('loginUser')
                store.commit('user',data.user);
                store.commit('user_role',data.user.role);
                localStorage.setItem('token', data.token);

                toast({
                    type: 'success',
                    title: 'Log in successful'
                });
                if(data.user.role != "user"){
                    getThis.$router.push({ name: 'admin-dashboard' });
                }else{
                    getThis.$router.push({ name: 'home' });
                }
                
            },

            resetPasswordModal(){
                this.$modal.show('passwordreset');
            },

            resetPassword(){
                
                this.$Progress.start();
                let $this = this;
                this.axios.get(index_url + '/api/reset-password', {
                    params: {
                        email: $this.email
                    }
                })
                    .then(response => {
                        this.$Progress.finish();
                        if(response.data.message == "success"){
                            this.Swal(
                                'Password Reset!',
                                'A password reset link has been sent to your email',
                                'success'
                            );
                        }else{
                            this.Swal(
                                'Password Reset!',
                                'This email does not exist',
                                'error'
                            );
                        }
                        
                        
                        this.$modal.hide('passwordreset');
                    }
                ).catch(error => {
                        this.$Progress.fail();
                    });
            }

            
        }
    }

</script>