<template>
    <div>
        <nav-menu></nav-menu>

        <div class="container">
      
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">
                <div class="payment-container">

                

                <br><br>

                <div v-if="user.payment == 'NO'">
                    <form @submit.prevent="make_payment">
                        <div class="form-group" style="text-align:center">
                            <label for="">Please Click the button below to make payment</label><br>
                            <button id="" class="btn btn-primary payment">Make Payment</button>
                        </div>
                    </form>
                </div>

                <div v-if="user.payment == 'YES'">
                    <h4 style="text-align:center; color: #ed3c41">You have successfully paid for the products below. Please use your Tracking Code to track the status of your products</h4>
                </div>


                </div>
            </div>

            <div class="col-md-2"></div>
        </div>

        <div class="row">
            <div v-if="user != null" style="text-align:left;" class="order_header">
            <div class="col-md-6">
                <h5>Order Code: {{user.order_code}}</h5>
                <h5>Name: {{user.name}}</h5>
                <h5>Email: {{user.email}}</h5>
                <h5>Phone Number: {{user.phone_number}}</h5>
                <h5>State: {{user.state}}</h5>
                <h5>Lga: {{user.lga}}</h5>
                <h5>Address: {{user.address}}</h5>
            </div>
            <div class="col-md-6">
                <h5>Tracking Status: {{user.tracking_status}}</h5>
                <h5>Price: N{{formatter.format(user.price)}}</h5>
                <h5>Shipping Cost: N{{formatter.format(user.shipping)}}</h5>
                <h5>Total (Price + Shipping): N{{formatter.format(user.total_price)}}</h5>
            </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div style="text-align:left; margin-top:30px" class="">
            <div v-for="product in normal_product" :key="product.id">
                <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="product-box">
                    <router-link :to="{ name: 'product_page', params:{ product: product.slug}}" class=""><img v-if="product.default_image != null" :src="imagelink(product.default_image.media)" alt="" class="product-image"></router-link>
                    <div class="product-mini-details">
                        <router-link :to="{ name: 'product_page', params:{ product: product.slug}}" class=""><h3 class="product-headline">{{product.product_title}}</h3></router-link>
                        <div class="product-category"><small class="">normal order</small></div>
                        <div class="unit-price">Unit Price: <span class="naira">₦</span>{{formatter.format(product.price)}}</div>
                        <div class="quantity">
                            Quantity: {{product.quantity}}
                        </div>
                        <h3 class="product-price">Total: <span class="naira">₦</span>{{formatter.format(product.total)}}</h3>
                    </div>
                </div>
                </div>
            </div>
            <div v-for="product in custom_product" :key="'custom_' + product.id">
                <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="product-box">
                    <router-link :to="{ name: 'custom_product_page', params:{ id: product.id, vin: product.vin}}" class=""><img :src="imagelink(product.media)" alt="" class="product-image"></router-link>
                    <div class="product-mini-details">
                        <router-link :to="{ name: 'custom_product_page', params:{ id: product.id, vin: product.vin}}" class=""><h3 class="product-headline">{{product.part_name}}</h3></router-link>
                        <div class="product-category"><small class="">custom order</small></div>
                        <div class="unit-price">
                            Unit Price: <span class="naira">₦</span>{{formatter.format(product.price)}}
                        </div>
                        <div class="quantity">
                            Quantity: {{product.quantity}}
                        </div>
                        <h3 class="product-price" :class="{ nodisplay: product.total == null }">Total: <span class="naira">₦</span>{{formatter.format(product.total)}}</h3>
                    </div>
                </div>
                </div>
            </div>

        

            </div>
        </div>

        </div>


    </div>
</template>

<style lang="scss" scoped >
   @import './resources/assets/sass/general.scss';
   @import './resources/assets/sass/product_page.scss';
</style>

<style scoped>

  .payment-container{
    margin-top:40px;
    margin-bottom:40px;
    padding:30px;
    border-radius: 5px;
    background: white;
    border: solid 1px #e8e8e8;
  }

  .payment{
    color: white;
    font-weight:400;
    font-family: HelveticaNeueMed;
    margin-top: 20px;
  }

  .order_header h5{
    font-weight: 700;
    font-family: HelveticaNeueMed;
  }
</style>



<script>
    import NavMenu from '@/views/includes/NavMenu';

    import Vue from 'vue'

    import axios from 'axios';


    export default {

        components:{
          NavMenu,
        },

        data () {
            return {

                user: {},
                normal_product: {},
                custom_product: {},
                formatter: new Intl.NumberFormat('en-US', {
                    style: 'decimal',
                    minimumFractionDigits: 2
                }),
            }
        },

        mounted(){
            this.initialLoad();
        },

        methods: {
            

            initialLoad(){
                this.axios
                .get(index_url + "/api/get-user-order/" + this.$route.params.order_code)
                .then(response => {
                    this.user = response.data.user_details
                    this.normal_product = response.data.normal_orders;
                    this.custom_product = response.data.custom_orders;

                    if(this.user.payment == "NO" && this.user.tracking_status != "confirmed"){
                        this.$router.push({name: 'home'});
                    }
                })
                .catch(response => {
                    
                });
            },

            imagelink(link){
                if(link == null){
                var img_src = "https://cdn2.iconfinder.com/data/icons/picons-essentials/71/gallery-512.png";
                }else{
                var img_src = index_url + '/' + link;
                }  

                return img_src;
            },

            make_payment(){
                let $this = this;
                var handler = PaystackPop.setup({
                    key: 'pk_test_a74966b72f3f92fa5bb0da84f6e83786a78ed789',
                    email: this.user.email,
                    amount: this.user.total_price * 100,
                    currency: "NGN",
                    //ref: ''+this.user.order_code, // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
                    ref: this.user.order_code,
                    metadata: {
                        custom_fields: [
                            {
                                display_name: this.user.name,
                                variable_name: "mobile_number",
                                value: this.user.phone_number,
                            }
                        ]
                    },
                    callback: function(response){
                        $this.payment_successful();
                    },
                    onClose: function(){
                    }
                });
                handler.openIframe();
            },

            payment_successful(){
               
                this.$Progress.start();
                this.axios.post(index_url + "/api/payment-successful",{
                              id: this.user.id,
                              order_code: this.user.order_code,
                              date: this.user.created_at,
                      })
                      .then(response => {
                          this.$Progress.finish();
                          this.initialLoad();
                          this.Swal("Payment Successful","Payment receipt from paystack has been sent to your mail" , "success");
                      })
                      .catch(response => {
                            this.$Progress.finish();
                      });

            }


            
        }
    }

</script>