<template>
    <div>
        <nav-menu></nav-menu>

        <div class="container" style="margin-bottom: 60px">

            <div class="pg-header-bg" :style="'background: url(' + hosturl + '/images/header_background.png) no-repeat'">
                <h3 class="pg-header">MY ORDERS</h3>
            </div>

            <div class="row">
                <div class="col-md-12">
                <form @submit.prevent="search_order" class="form-inline">
                    
                    <div>Please enter the order code given to you</div>
                    <div class="form-group">
                        <label for=""><strong>Order Code</strong></label>
                        <input v-model="order_code" type="text" class="form-control">
                        <button class="btn btn-success" style="margin-top:20px; margin-bottom:20px" type="submit">View Order</button>
                    </div>
                </form>
                </div>
            </div>

            
            <div><i v-if="loading == true" class="fa fa-circle-o-notch fa-spin" style="font-size:18px"></i></div>

            <div class="row">
              <div v-if="user != null" style="text-align:left;" class="order_header">
                <div class="col-md-6">
                    <h5>Order Code: {{user.order_code}}</h5>
                    <h5>Name: {{user.name}}</h5>
                    <h5>Email: {{user.email}}</h5>
                    <h5>Phone Number: {{user.phone_number}}</h5>
                    <h5>State: {{user.state}}</h5>
                    <h5>Lga: {{user.lga}}</h5>
                    <h5>Address: {{user.address}}</h5>
                </div>
                <div class="col-md-6">
                    <h5>Tracking Status: {{user.tracking_status}}</h5>
                    <h5>Price: {{user.price}}</h5>
                    <h5>Shipping Cost: {{user.shipping}}</h5>
                    <h5>Total (Price + Shipping): {{user.total_price}}</h5>
                </div>
              </div>
            </div>


            <div class="row">
              <div style="text-align:left; margin-top:30px" class="">
                <div v-for="product in normal_product" :key="product.id">
                  <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="product-box">
                        <router-link :to="{ name: 'product_page', params:{ product: product.slug}}" class=""><img v-if="product.default_image != null" :src="imagelink(product.default_image.media)" alt="" class="product-image"></router-link>
                        <div class="product-mini-details">
                            <router-link :to="{ name: 'product_page', params:{ product: product.slug}}" class=""><h3 class="product-headline">{{product.product_title}}</h3></router-link>
                            <div class="product-category"><small class="">normal order</small></div>
                            <div class="unit-price">Unit Price: <span class="naira">₦</span>{{formatter.format(product.price)}}</div>
                            <div class="quantity">
                              Quantity: {{product.quantity}}
                            </div>
                            <h3 class="product-price">Total: <span class="naira">₦</span>{{formatter.format(product.total)}}</h3>
                        </div>
                    </div>
                  </div>
                </div>
                <div v-for="product in custom_product" :key="'custom_' + product.id">
                  <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="product-box">
                        <router-link :to="{ name: 'custom_product_page', params:{ id: product.id, vin: product.vin}}" class=""><img :src="imagelink(product.media)" alt="" class="product-image"></router-link>
                        <div class="product-mini-details">
                            <router-link :to="{ name: 'custom_product_page', params:{ id: product.id, vin: product.vin}}" class=""><h3 class="product-headline">{{product.part_name}}</h3></router-link>
                            <div class="product-category"><small class="">custom order</small></div>
                            <div class="unit-price">
                              Unit Price: <span class="naira">₦</span>{{formatter.format(product.price)}}
                            </div>
                            <div class="quantity">
                              Quantity: {{product.quantity}}
                            </div>
                            <h3 class="product-price" :class="{ nodisplay: product.total == null }">Total: <span class="naira">₦</span>{{formatter.format(product.total)}}</h3>
                        </div>
                    </div>
                  </div>
                </div>

                

                <br>

                <div v-if="product_count == 0">
                    <p v-if="query != undefined"><strong>Product not available</strong></p>
                </div>

              </div>
            </div>


        </div>

        <footer-menu></footer-menu>

    </div>
</template>


<style lang="scss" scoped >
   @import './resources/assets/sass/general.scss';
   @import './resources/assets/sass/product_page.scss';

    .track_cyan{
        font-family: HelveticaNeueMed;
        color: #0faec8;
    }

    .track_yellow{
        font-family: HelveticaNeueMed;
        color: #ffb136;
    }

    .track_purple{
        font-family: HelveticaNeueMed;
        color: #6d325b;
    }

    .track_green{
        font-family: HelveticaNeueMed;
        color: #2ecc71;
    }

    .track_thick_red{
        font-family: HelveticaNeueMed;
        color: #a12327;
    }



   .pg-header{
    font-size: 30px;
    color: $red;
    margin-top: 40px;
    padding: 45px 0px 0px 65px;
  }

  .pg-header-bg{
    height: 125px;
    background-size: contain !important;
    margin-bottom:45px;
  }

  .btn{
    font-family: HelveticaNeueMed;
  }

  .text-primary {
        font-family: HelveticaNeueMed;
  }
 
</style>

<style>
  .product-nav-color{
    color: #ed3137 !important;
    font-weight: bolder !important; 
  }

  span.vue-star-rating-rating-text {
      display: none;
  }
  
  button.payButton {
      border: none;
      background: none;
  }

  .order_header h5{
    font-weight: 700;
    font-family: HelveticaNeueMed;
  }
</style>



<script>

import NavMenu from '@/views/includes/NavMenu';
import FooterMenu from '@/views/includes/FooterMenu';

import paystack from 'vue-paystack';

export default {
  components: {
    NavMenu,
    FooterMenu, 
    paystack,
  },
  data(){
    return {
      hosturl: index_url,
      order_code: '',
      normal_product: [],
      custom_product: [],
      loading: false,
      query: '',
      user: {},
      product_count: 0,
      formatter: new Intl.NumberFormat('en-US', {
          style: 'decimal',
          minimumFractionDigits: 2
      }),
    }
  },
  created() {
  },
  mounted(){
    let query = this.$route.query.order_code;
    this.query = query;
    if(query != undefined){
        this.order_code = query;
    }
    this.fetchData(query);
  },
  methods: {
    fetchData(query) {
        this.loading = true;
        let $this = this;
        this.axios.get(index_url + '/api/get-orders', {
            params:{
                order_code: query
            },
            headers: {
                Authorization: 'Bearer ' + localStorage.getItem('token')
            }
        })
        .then(response => {
            $this.normal_product = response.data.normal;
            $this.custom_product = response.data.custom;
            $this.user = response.data.user;
            $this.product_count = response.data.product_count;

            this.loading = false;
        })
        .catch(error => {
        });
    
    },
    search_order(){
        this.fetchData(this.order_code);
    },
    imagelink(link){
        if(link == null){
        var img_src = "https://cdn2.iconfinder.com/data/icons/picons-essentials/71/gallery-512.png";
        }else{
        var img_src = index_url + '/' + link;
        }  

        return img_src;
    },
          
  },

}

</script>