<template>
    <div>
        <nav-menu></nav-menu>

        <div class="container">
      
            <div class="row">
                <div class="col-md-2"></div>

                <div class="col-md-8">
                    <div class="newsletter-container">

                        <h3 style="margin-top:40px;margin-bottom:30px">Subscribe to NewsLetter</h3>

                        <div class="">
                            <div class="form-group">
                                <label>Enter Email</label>
                                <input v-model="email" type="email" name="email" class="form-control">
                            </div>

                            <button @click="subscribe()" class="btn btn-primary">Subscribe</button>
                        </div>

                    </div>
                </div>

                <div class="col-md-2"></div>

            </div>
        </div>

        <footer-menu></footer-menu>
    </div>
</template>

<style scoped>

  .newsletter-container{
    margin-top:40px;
    margin-bottom:40px;
    padding:30px;
    border-radius: 5px;
    background: white;
    border: solid 1px #e8e8e8;
  }

  .btn-primary, .btn-primary.disabled {
    background: #a12327;
    border: 2px solid #a12327;
    font-weight: 700;
    letter-spacing: 1.4px;  
  }

</style>


<script>
    import NavMenu from '@/views/includes/NavMenu';
    import FooterMenu from '@/views/includes/FooterMenu';

    import axios from 'axios';

    import store from '@/store/index';


    export default {

        components:{
            NavMenu,
            FooterMenu, 
        },

        data () {
            return {
                email: '',
            }
        },

        methods: {
            subscribe(){

                this.$Progress.start();
                this.axios.get(index_url + '/api/verify-newsletter-email/' + this.email)
                    .then(response => {
                        if(response.data.message == "exist"){
                            this.$Progress.finish();
                            this.Swal(
                                'Email Registered',
                                'This email is registered already',
                                'success'
                            );
                        }else{

                            this.$Progress.finish();
                            this.Swal(
                                'Check your email!',
                                'A link has been to sent to your email for verification',
                                'warning'
                            );
                        }
                    })
                    .catch(error => {
                        this.$Progress.fail();
                    });
            }

            
        }
    }

</script>