<template>
    <div>
        <nav-menu></nav-menu>

        <div class="container">
      
          <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">
              <div class="register-container">
                <h3 class="register_header">Registration</h3>
                <form @submit.prevent="register" @keydown="form.onKeydown($event)">
                    <div class="form-group">
                        <label>Full Name</label>
                        <input v-model="form.name" type="text" name="name"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                        <has-error :form="form" field="name"></has-error>
                    </div>

                    <div class="form-group">
                        <label>Email</label>
                        <input v-model="form.email" type="text" name="email"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                        <has-error :form="form" field="email"></has-error>
                    </div>

                    <div class="form-group">
                        <label>Password</label>
                        <input v-model="form.password" type="password" name="password"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('password') }">
                        <has-error :form="form" field="password"></has-error>
                    </div>

                    <div class="form-group">
                        <label>Repeat Password</label>
                        <input v-model="form.password_confirmation" type="password" name="password_confirmation"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('password_confirmation') }">
                        <has-error :form="form" field="password_confirmation"></has-error>
                    </div>

                    <div class="form-group">
                        <label>Phone Number</label>
                        <input v-model="form.phone_number" type="text" name="address" class="form-control" :class="{ 'is-invalid': form.errors.has('address') }">
                        <has-error :form="form" field="address"></has-error>
                    </div>

                    <div class="form-group">
                        <label>Address</label>
                        <input v-model="form.address" type="text" name="address" class="form-control" :class="{ 'is-invalid': form.errors.has('address') }">
                        <has-error :form="form" field="address"></has-error>
                    </div>

                    <div class="form-group">
                        <label>State</label>
                        <select v-model="form.state" name="state" class="form-control" required>
                            <option value="Abuja FCT">Abuja FCT</option>
                            <option value="Abia">Abia</option>
                            <option value="Adamawa">Adamawa</option>
                            <option value="Akwa Ibom">Akwa Ibom</option>
                            <option value="Anambra">Anambra</option>
                            <option value="Bauchi">Bauchi</option>
                            <option value="Bayelsa">Bayelsa</option>
                            <option value="Benue">Benue</option>
                            <option value="Borno">Borno</option>
                            <option value="Cross River">Cross River</option>
                            <option value="Delta">Delta</option>
                            <option value="Ebonyi">Ebonyi</option>
                            <option value="Edo">Edo</option>
                            <option value="Ekiti">Ekiti</option>
                            <option value="Enugu">Enugu</option>
                            <option value="Gombe">Gombe</option>
                            <option value="Imo">Imo</option>
                            <option value="Jigawa">Jigawa</option>
                            <option value="Kaduna">Kaduna</option>
                            <option value="Kano">Kano</option>
                            <option value="Katsina">Katsina</option>
                            <option value="Kebbi">Kebbi</option>
                            <option value="Kogi">Kogi</option>
                            <option value="Kwara">Kwara</option>
                            <option value="Lagos">Lagos</option>
                            <option value="Nassarawa">Nassarawa</option>
                            <option value="Niger">Niger</option>
                            <option value="Ogun">Ogun</option>
                            <option value="Ondo">Ondo</option>
                            <option value="Osun">Osun</option>
                            <option value="Oyo">Oyo</option>
                            <option value="Plateau">Plateau</option>
                            <option value="Rivers">Rivers</option>
                            <option value="Sokoto">Sokoto</option>
                            <option value="Taraba">Taraba</option>
                            <option value="Yobe">Yobe</option>
                            <option value="Zamfara">Zamfara</option>
                        </select>
                    </div>

                    <button :disabled="form.busy" type="submit" class="btn btn-primary">Register</button>
                </form>

                <router-link :to="{name: 'login'}" class="login" aria-expanded="false">
                    Click here to login if you already have an account :)
                </router-link>


              </div>
            </div>

            <div class="col-md-2"></div>
          </div>

        </div>


    </div>
</template>

<style scoped>

    .register-container{
        margin-top:40px;
        margin-bottom:40px;
        padding:30px;
        border-radius: 5px;
        background: white;
        border: solid 1px #e8e8e8;
    }

    .register_header{
        margin-bottom:35px; 
        border-bottom: solid 1px #c9c9c9; 
        padding-bottom:10px
    }

    form{
        font-weight: 500;
        font-family: HelveticaNeueMed;
    }

    .login{
        color: #ed3137;
        font-weight:400;
        font-family: HelveticaNeueMed;
        margin-top: 40px;
        display: block;
    }

</style>


<script>
    import NavMenu from '@/views/includes/NavMenu';

    import Vue from 'vue'
    import { Form, HasError, AlertError } from 'vform'

    import axios from 'axios';

    import store from '@/store/index';

    Vue.component(HasError.name, HasError)
    Vue.component(AlertError.name, AlertError)

    //let index_url = this.$store.getters.index_url;


    export default {

        components:{
          NavMenu,
        },

        data () {
            return {
                registerError: false,
                index_url: store.getters.index_url,

                form: new Form({
                    name: '',
                    email: '',
                    password: '',
                    password_confirmation: '',
                    remember: false,
                    phone_number: '',
                    address: '',
                    state: '',
                }),

            }
        },

        methods: {
            register () {

                let getThis = this; 
                this.$Progress.start();
                this.registerError = false;
                // Submit the form via a POST request
                this.form.post(this.index_url + '/api/register')
                    .then(({ data }) => { 


                        getThis.Swal(
                            'Registration successful',
                            '',
                            'success'
                        );

                        getThis.$router.push({ name: 'login' });
                        
                    })
                    .catch(error => {
                        this.$Progress.fail();
                    });
            },

            
        }
    }

</script>