<template>
    <div>
        <nav-menu></nav-menu>

        <div class="pg-div">

          <div class="container">
        
            <div class="row">
              <div class="col-md-12">
                <div class="pg-header-bg" style="background: url(images/header_background.png) no-repeat">
                    <h3 class="pg-header">SAFETY <br>TIPS</h3>
                </div>
                <div class="pg_content" style="text-align: justify">
                  <div v-html="content"> </div>
                </div>
              </div>
            </div>

          </div>

        </div>

        <footer-menu></footer-menu>

    </div>
</template>


<style lang="scss" scoped >

    $black: #3d3d3d;
    $red: #ed3137;

    .pg-div{
      background-size: cover;
      padding: 40px 0px 100px;
    }

    .pg-header{
      font-size: 30px;
      color: $red;
      padding: 45px 0px 0px 65px;
    }

    .pg-header-bg{
      height: 125px;
      background-size: contain !important;
      margin-bottom:45px;
    }

    .mechanic img{
      width: 700px;
      margin-left: 48px;
      margin-top: 40px;
    }

    .pg_content{
      padding:0px 0px 0px 0px;
    }

    @media (max-width:1300px){ 
      .pg_content{
        padding:0px;
      }
    }

    @media (max-width:1300px){ 
      .mechanic img[data-v-64065a02] {
          object-fit: contain;
          width: 100%;
          margin-top: 40px;
          margin-left: 0px;
      }
    }


</style>


<script>

import NavMenu from '@/views/includes/NavMenu';
import FooterMenu from '@/views/includes/FooterMenu';

export default {
    data(){
      return{
        content: '',
      }
    },
    components: {
      NavMenu,
      FooterMenu, 
    },
    mounted(){
      this.initialLoad();
    },
    methods:{
      initialLoad(){
        let $this = this;
        this.axios.get(index_url + '/api/get-content-page/5')
            .then(response => {
                $this.content = response.data.contentpage.content;
            })
            .catch(error => {
            });
      }
    }
}

</script>