<template>
    <div>
        <nav-menu></nav-menu>

        <div class="container" style="margin-bottom: 60px">

            <div class="pg-header-bg" :style="'background: url(' + hosturl + '/images/header_background.png) no-repeat'">
                <h3 class="pg-header">PROFILE</h3>
            </div>

            <div class="row">
              <div class="">
                <form @submit.prevent="updateUser" @keydown="form.onKeydown($event)">
                    <div class="form-group">
                        <label>Full Name</label>
                        <input v-model="form.name" type="text" name="name" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Email</label>
                        <input v-model="email" type="text" name="email" class="form-control" disabled>
                    </div>

                    <div class="form-group">
                        <label>Phone Number</label>
                        <input v-model="form.phone_number" type="text" name="address" class="form-control" :class="{ 'is-invalid': form.errors.has('address') }">
                        <has-error :form="form" field="address"></has-error>
                    </div>

                    <div class="form-group">
                        <label>Address</label>
                        <input v-model="form.address" type="text" name="address" class="form-control" :class="{ 'is-invalid': form.errors.has('address') }">
                        <has-error :form="form" field="address"></has-error>
                    </div>

                    <div class="form-group">
                        <label>State</label>
                        <select v-model="form.state" name="state" class="form-control" required>
                            <option value="Abuja FCT">Abuja FCT</option>
                            <option value="Abia">Abia</option>
                            <option value="Adamawa">Adamawa</option>
                            <option value="Akwa Ibom">Akwa Ibom</option>
                            <option value="Anambra">Anambra</option>
                            <option value="Bauchi">Bauchi</option>
                            <option value="Bayelsa">Bayelsa</option>
                            <option value="Benue">Benue</option>
                            <option value="Borno">Borno</option>
                            <option value="Cross River">Cross River</option>
                            <option value="Delta">Delta</option>
                            <option value="Ebonyi">Ebonyi</option>
                            <option value="Edo">Edo</option>
                            <option value="Ekiti">Ekiti</option>
                            <option value="Enugu">Enugu</option>
                            <option value="Gombe">Gombe</option>
                            <option value="Imo">Imo</option>
                            <option value="Jigawa">Jigawa</option>
                            <option value="Kaduna">Kaduna</option>
                            <option value="Kano">Kano</option>
                            <option value="Katsina">Katsina</option>
                            <option value="Kebbi">Kebbi</option>
                            <option value="Kogi">Kogi</option>
                            <option value="Kwara">Kwara</option>
                            <option value="Lagos">Lagos</option>
                            <option value="Nassarawa">Nassarawa</option>
                            <option value="Niger">Niger</option>
                            <option value="Ogun">Ogun</option>
                            <option value="Ondo">Ondo</option>
                            <option value="Osun">Osun</option>
                            <option value="Oyo">Oyo</option>
                            <option value="Plateau">Plateau</option>
                            <option value="Rivers">Rivers</option>
                            <option value="Sokoto">Sokoto</option>
                            <option value="Taraba">Taraba</option>
                            <option value="Yobe">Yobe</option>
                            <option value="Zamfara">Zamfara</option>
                        </select>
                    </div>

                     <input type="hidden" name="id" class="form-control" :value="form.id">

                    <button :disabled="form.busy" type="submit" class="btn btn-primary">Update</button>
                </form>
              </div>
            </div>


        </div>

        <footer-menu></footer-menu>

    </div>
</template>


<style lang="scss" scoped >
   @import './resources/assets/sass/general.scss';

   .pg-header{
    font-size: 30px;
    color: $red;
    margin-top: 40px;
    padding: 45px 0px 0px 65px;
  }

  .pg-header-bg{
    height: 125px;
    background-size: contain !important;
    margin-bottom:45px;
  }

  .btn{
    font-family: HelveticaNeueMed;
  }

</style>



<script>

import NavMenu from '@/views/includes/NavMenu';
import FooterMenu from '@/views/includes/FooterMenu';

import Vue from 'vue'
import { Form, HasError, AlertError } from 'vform'

import axios from 'axios';

import store from '@/store/index';

Vue.component(HasError.name, HasError)
Vue.component(AlertError.name, AlertError)

export default {
  components: {
    NavMenu,
    FooterMenu, 
  },
  data(){
    return {
        hosturl: index_url,
        email: '',
        form: new Form({
            id: 0,
            name: '',
            phone_number: '',
            address: '',
            state: '',
        }),
    }
  },
  created() {
  },
  mounted(){
      this.fetchData();
  },
  methods: {
          fetchData() {

              let $this = this;
            
              this.axios.get(index_url + '/api/get-current-user', {
                    headers: {
                        Authorization: 'Bearer ' + localStorage.getItem('token')
                    }
              })
              .then(response => {
                    $this.form.id = response.data.user.id;
                    $this.email = response.data.user.email;
                    $this.form.name = response.data.user.name;
                    $this.form.phone_number = response.data.user.phone_number;
                    $this.form.address = response.data.user.address;
                    $this.form.state = response.data.user.state;
              })
              .catch(error => {
              });
          },
          updateUser(){
                let $this = this; 
                this.axios.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('token');
                this.$Progress.start();
                this.form.post(index_url + '/api/update-current-user')
                    .then(({ data }) => { 

                        $this.$Progress.finish();
                        this.Swal(
                            'Updated!',
                            'Profile updated successfully',
                            'success'
                        )
                    })
                    .catch(error => {
                        this.$Progress.fail();
                    });
          },

  },

}

</script>