<template>
    <div>
        <nav-menu></nav-menu>

        <div class="container">
      
          <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">
              <div class="nls-container">
                  <i style="color:#a12327" class="fa fa-spinner fa-spin fa-5x fa-fw"></i>


                  <h4>Verifying Email...</h4>
              </div>
            </div>

            <div class="col-md-2"></div>
          </div>

        </div>


    </div>
</template>

<style scoped>

    .nls-container{
        margin-top:40px;
        margin-bottom:40px;
        padding:30px;
        border-radius: 5px;
        background: white;
        border: solid 1px #e8e8e8;
        text-align: center;
    }

    form{
        font-weight: 500;
        font-family: HelveticaNeueMed;
    }

    .fa-5x {
        font-size: 12em;
        margin-top: 100px;
    }

    h4{
        margin-top: 80px;
        color: #a12327;
        font-style: italic;
    }

</style>


<script>
    import NavMenu from '@/views/includes/NavMenu';

    import Vue from 'vue'

    import axios from 'axios';


    export default {

        components:{
          NavMenu,
        },

        data () {
            return {
        
            }
        },

        created(){
            this.verify();
        },

        methods: {
            verify(){
                let $this = this;
                this.$Progress.start();
                this.axios.get(index_url + '/api/verify-newsletter-email-done/' + this.$route.params.code)
                    .then(response => {

                        if(response.data.message == "success"){
                            this.$Progress.finish();
                            this.Swal(
                                'Success!',
                                'Newsletter email verified successfully',
                                'success'
                            );

                            $this.$router.push({ name: 'home' });
                        }else{
                            this.$Progress.fail();
                            this.Swal(
                                'Fail!',
                                'Invalid email verification',
                                'error'
                            );
                        }
                    })
                    .catch(error => {
                        this.$Progress.fail();
                    });
            }
        }
    }

</script>