



@font-face {
  font-family: HelveticaNeue;
  src: url("fonts/HelveticaNeue.ttf");
}

@font-face {
  font-family: HelveticaNeueMed;
  src: url("fonts/HelveticaNeueMed.ttf");
}

@font-face {
  font-family: HelveticaNeueBd;
  src: url("fonts/HelveticaNeueBd.ttf");
}

body{
  font-family: HelveticaNeue, sans-serif, Tahoma;
  background: #fcfcfc;
  color: #525457;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}

label {
  font-weight: 500;
  font-family: HelveticaNeueMed;
}

.custom-modal{
  border-radius: 10px;
  border: solid 2px #dfdddd;
  padding: 40px;
  text-align: center;
  background: white;
}

h2, h3, h4{
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  margin:0px;
  letter-spacing: 0.4px;
  line-height: 1.23;
  font-family: HelveticaNeueBd;
}

.dropdown-menu > li > a {
  font-family: HelveticaNeueMed;
}

.container {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.naira{
  font-family: Arial;
  font-weight: initial;

}


.carousel-control.left, .carousel-control.right {
  
  background-image: linear-gradient(to right,rgba(241, 241, 241, 0.822) 0,rgba(241,241,241,.0001));
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #fff;
  background-color: initial;
}


.dropdown-menu > li > a:hover {
  color: #fff !important;;
}

.dropdown-menu > li > a {
  color: #fff !important;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: transparent !important;
  border-color: #337ab7 !important;
}

.nav > li > a:hover, .nav > li > a:active, .nav > li > a:focus, .nav > li > a {
  color: #fff;
  background: transparent;
}

.navbar-default {
  margin-bottom: 0px;
  border: transparent;
  padding: 10px;
}

.navbar-brand {
  padding: 0px;
}

.form-control:focus {
  border-color: #e96666;
  outline: 0;
  -webkit-box-shadow: unset;
  box-shadow: unset;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #686868;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 13px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #686868;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 13px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 1px;
}

::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-color: #1d1d1d;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.footer-links{
  margin-bottom: 10px;
}

.footer-links a{
  color:rgb(235, 235, 235);
  font-size:14px;
}

.footer-container{
  margin-bottom:30px;
}

a, p{
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    margin:0px;
    letter-spacing: 1.6px;
    line-height: 1.75;
}

a{
  letter-spacing: 1px;
}


.custom-header{
  font-size: 30px;
  color: white;
  padding: 45px 0px 0px 65px;
}

.custom-header-bg{
  height: 125px;
  background-size: contain !important;
  margin-bottom:45px;
}

.swal2-popup.swal2-toast .swal2-title {
  font-size: 14px !important;
  font-weight: 400 !important;
}

.swal2-popup.swal2-toast {
  padding: 10px !important;
}

.swal2-popup .swal2-styled.swal2-confirm, .swal2-popup .swal2-styled.swal2-cancel {
  color: #fff;
  font-family: HelveticaNeueMed;
  font-size: 15px !important;
}

.swal2-popup #swal2-content {
  text-align: center;
  font-family: HelveticaNeueMed !important; 
}

div#swal2-content {
    font-size: 16px !important;
}

.vue-input-tag-wrapper .input-tag {
  background-color: #2ecc71 !important;
  border: 1px solid #2ecc71 !important;
  border-radius: 2px;
  font-size: 14px !important;
  font-family: HelveticaNeueMed !important;
  color: #ffffff;
}

.vue-input-tag-wrapper .input-tag .remove {
  color: #ffffff !important;
}

.vue-input-tag-wrapper .input-tag {
  color: white !important;
}

.vue-input-tag-wrapper .new-tag {
  color: #777;
  font-size: 14px !important;
  font-family: HelveticaNeueMed !important;
  font-weight: 500 !important;
}

table.vgt-table {
  font-size: 14.5px !important;

}

.menu-active {
  color: #a12327 !important;    
  font-weight: 600 !important;
}

.vue-dropzone{
  background: #f3f3f3 !important;    
  border-radius: 10px !important;    
}

.help-block {
  color: #f70101;
  font-weight: 600;
}

div.dataTables_wrapper div.dataTables_length label {
  font-family: HelveticaNeueMed;
  text-align: left;
  white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_filter label {
  font-family: HelveticaNeueMed;
  white-space: nowrap;
  text-align: left;
}

.btn-shipping{
  background: #6d325b;
  border: 2px solid #6d325b;
  color: white;
}

.btn-shipping:hover{
  background: #6d325b;
  border: 2px solid #6d325b;
  color: white;
}

.ql-editor p {
  font-family: HelveticaNeue !important;
}

.ql-editor ul li:not(.ql-direction-rtl) {
  font-family: HelveticaNeue !important;
  font-size: 14px !important;
  letter-spacing: 1.5px !important;
}

b, strong {
  font-weight: 700;
  font-family: HelveticaNeueMed;
}

.form-control {
  font-family: HelveticaNeueMed !important;
  letter-spacing: inherit !important;
  font-size: 14px !important;
  font-weight: 500;
}

@media (min-width: 768px) and (max-width:1024px){
  .navbar-right {
    float: right!important;
    margin-right: 5%;
  }
}

@media (max-width: 1100px) {
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: unset;
    /*background: #3d3d3d; */
    width: 300px;
    float: right;
  }

  .nav {
    text-align: center;
  }

  .nav>li {
    border-bottom: unset;
  }

  .navbar-default .navbar-toggle {
      border-color: #fff;
  }

  .navbar-default .navbar-toggle:hover {
    background-color: #fffefe38;
  }

  i.fa.fa-bars {
    color: white;
  }

  .navbar-toggle {
      position: relative;
      float: right;
      padding: 4px 10px;
      margin-top: 12px;
      margin-right: 15px;
      margin-bottom: 25px;
      background-color: transparent;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 4px;
  }


  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 0.1px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }

  .navbar-collapse.in {
      overflow-y: unset;
      margin-top: 2px;
  }

  ul.nav.navbar-nav.navbar-right {
      background: #373737;
      padding-bottom: 20px;
  }

  .navbar-default .navbar-nav>li>a {
      text-align: right !important;
      margin-right: 30px;
  }

  .container {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }

  
}

@media (max-width: 767px){
  .navbar-nav .open .dropdown-menu {
      background-color: #1d1c1c;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    text-align: right;
  }
}




