<template>
  <div>
    <div class="admintop"></div>
    <div class="container">
        <div class="row">
          <div class="col-md-12">
              <div class="white-box">

                <h3 class="pageheader">Brands</h3>

                <button v-if="levelAccess2" class="btn btn-success btn-sm" @click="addBrand()" style="margin-bottom:20px"> <i class="fa fa-plus"></i> Add Brand(s)</button>

                <vue-good-table
                :columns="columns"
                :rows="brands"
                :search-options="{enabled: true}"
                :sort-options="{enabled: true}"
                :pagination-options="{enabled: true, mode: 'pages', perPage: 50, perPageDropdown: [50, 100, 150]}"
                :lineNumbers="true">
                    <template slot="table-row" slot-scope="props">
                        <span v-if="props.column.field == 'actions'">
                            <router-link v-if="levelAccess4" :to="{name: 'admin-models', params: { brand: props.row.slug } }" class="btn btn-success btn-sm" aria-expanded="false">
                                <i class="fa fa-eye"></i> view
                            </router-link>
                            <button v-if="levelAccess3" class="btn btn-warning btn-sm" @click="editBrand(props.row.id, props.row.title)"> <i class="fa fa-pencil"></i> edit</button>     
                            <button v-if="levelAccess2" class="btn btn-primary btn-sm" @click="deleteBrand(props.row.id)"> <i class="fa fa-trash"></i> delete</button>  
                        </span>
                        <span v-else>
                            {{props.formattedRow[props.column.field]}}
                        </span>
                    </template> 
                </vue-good-table>


              </div>
          </div>
        </div>
    </div>

    <modal name="add-brand" height=auto width="70%" classes="custom-modal">
        <div>
            <h4 class="text-success" style="margin-bottom:10px">Add Brand</h4>
            <small>Add multiple brands by separating each brand with a comma</small>
            <!-- <input-tag v-model="brand_name"></input-tag> -->
            <input type="text" class="form-control" name="brand-name" v-model="brand_name" value="">

            <button class="btn btn-success" style="margin-top:20px" @click="submitBrand()"> <i class="fa fa-save"></i> Save</button>
        </div>
    </modal>

    <modal name="edit-brand" height=auto width="70%" classes="custom-modal">
        <div>
            <h4 class="text-success" style="margin-bottom:10px">Update Brand</h4>
            <input type="text" class="form-control" name="brand-name" v-model="edit_brand_name" value="">

            <button class="btn btn-success" style="margin-top:20px" @click="updateBrand()"> <i class="fa fa-save"></i> Update</button>
        </div>
    </modal>


  </div>
</template>


<style lang="scss" scoped >
    @import "./resources/assets/sass/admin/general.scss";

    .brandimg{
      object-fit: contain;
      width: 60px;
    }

</style>


<script>
  export default {
      
        data() {
            return{
                hosturl: index_url,
                brand_name: [],
                edit_brand_name: '',
                edit_brand_id: '',
                user_role: '',
                brands: [],
                columns: [
                    {
                        label: 'ID',
                        field: 'id',
                        hidden: true,
                    },
                    {
                        label: 'Brand',
                        field: 'title',
                    },
                    {
                        label: 'Slug',
                        field: 'slug',
                        hidden: true,
                    },
                    {
                        label: 'Created On',
                        field: 'created_at',
                    },
                    {
                        label: 'Updated On',
                        field: 'updated_at',
                    },
                    {
                        label: 'Actions',
                        field: 'actions',
                        sortable: false,
                    },
                ],
            }  
        },
        created() {
        },
        mounted(){
            this.initialLoad();
        },
        computed: {
            levelAccess1(){
                if(this.user_role == 'super admin'){
                    return true;
                }else{
                    return false;
                }
            },
            levelAccess2(){
                if(this.user_role == 'super admin' ||  this.user_role == 'admin'){
                    return true;
                }else{
                    return false;
                }
            },
            levelAccess3(){
                if(this.user_role == 'super admin' ||  this.user_role == 'admin' ||  this.user_role == 'editor'){
                    return true;
                }else{
                    return false;
                }
            },
            levelAccess4(){
                if(this.user_role == 'super admin' ||  this.user_role == 'admin' ||  this.user_role == 'editor' ||  this.user_role == 'viewer'){
                    return true;
                }else{
                    return false;
                }
            },
        },
        methods: {
            
            initialLoad(){
                this.$emit("pageLoading",true);
                $(".show-sidebar").hide();
                

                this.$emit("childProps","brands");

                this.user_role = this.global_store.getters.user_role;


                let $this = this;
                this.axios.get(index_url + '/api/get-brands', {
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('token')
                        }
                    })
                    .then(response => {
                        $this.brands = response.data.brands;
                        
                        this.$emit("pageLoading",false);
                    }
                );
            },
            addBrand(){
                this.$modal.show('add-brand');
            },
            submitBrand(){
                this.axios.get(index_url + '/api/add-brand/' + this.brand_name, {
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('token')
                        }
                    })
                    .then(response => {
                        this.initialLoad();
                        this.$modal.hide('add-brand');
                        toast({
                            type: 'success',
                            title: 'Brand(s) added successfully'
                        });
                    });
            },
            editBrand(id,title){
                this.$modal.show('edit-brand');
                $(".editbrand").val(title);
                this.edit_brand_name = title;
                this.edit_brand_id = id;
            },
            updateBrand(){
                this.axios.get(index_url + '/api/edit-brand/' + this.edit_brand_id + '/' + this.edit_brand_name , {
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('token')
                        }
                    })
                    .then(response => {
                        this.initialLoad();
                        this.$modal.hide('edit-brand');
                        toast({
                            type: 'success',
                            title: 'Brand updated successfully'
                        });
                    });
            },
            deleteBrand(id){

                this.Swal({
                        title: 'Are you sure?',
                        text: "You won't be able to revert this!",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#d33',
                        cancelButtonColor: '#2ecc71',
                        confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {

                        if (result.value) {

                            this.axios.get(index_url + '/api/delete-brand/' + id, {
                                headers: {
                                    Authorization: 'Bearer ' + localStorage.getItem('token')
                                }
                            })
                            .then(response => {
                                this.initialLoad();
                                this.Swal(
                                    'Deleted!',
                                    'Brand deleted successfully',
                                    'success'
                                )
                            });
                        }
                })
                
            },
            
        }
  }
</script>