<template>
  <div>
    <div class="admintop"></div>
    <div class="container">
        <div class="row">
          <div class="col-md-12">
              <div class="white-box">

                <h3 class="pageheader">Content Pages</h3>
                
                <vue-good-table
                :columns="columns"
                :rows="contentpages"
                :search-options="{enabled: true}"
                :sort-options="{enabled: true}"
                :pagination-options="{enabled: true, mode: 'pages', perPage: 50, perPageDropdown: [50, 100, 150]}"
                :lineNumbers="true">
                    <template slot="table-row" slot-scope="props">
                        <span v-if="props.column.field == 'actions'">
                            <router-link v-if="levelAccess3" :to="{name: 'editcontentpage', params: { id: props.row.id } }" class="btn btn-warning btn-xs"> <i class="fa fa-pencil"></i> edit</router-link>      
                        </span>
                        <span v-else>
                            {{props.formattedRow[props.column.field]}}
                        </span>
                    </template> 
                </vue-good-table>

              </div>
          </div>
        </div>
    </div>
  </div>
</template>


<style lang="scss" scoped >
    @import "./resources/assets/sass/admin/general.scss";

    .productimg{
      object-fit: contain;
      width: 80px;
    }

    .btn{
        margin-bottom: 10px;
    }

    .white-box a {
        font-family: HelveticaNeueMed;
    }

    .text-info {
        color: #1099af !important;
    }

</style>

<script>
  export default {
      
        data() {
            return{
                hosturl: index_url,
                contentpages: [],
                user_role: '',
                columns: [
                    {
                        label: 'ID',
                        field: 'id',
                        hidden: true,
                    },
                    {
                        label: 'Page',
                        field: 'title',
                    },
                    {
                        label: 'Slug',
                        field: 'slug',
                        hidden: true,
                    },
                    {
                        label: 'Actions',
                        field: 'actions',
                        sortable: false,
                    },
                ],
            }  
        },
        created() {
        },
        mounted(){
            this.initialLoad();
        },
        computed: {
            levelAccess1(){
                if(this.user_role == 'super admin'){
                    return true;
                }else{
                    return false;
                }
            },
            levelAccess2(){
                if(this.user_role == 'super admin' ||  this.user_role == 'admin'){
                    return true;
                }else{
                    return false;
                }
            },
            levelAccess3(){
                if(this.user_role == 'super admin' ||  this.user_role == 'admin' ||  this.user_role == 'editor'){
                    return true;
                }else{
                    return false;
                }
            },
            levelAccess4(){
                if(this.user_role == 'super admin' ||  this.user_role == 'admin' ||  this.user_role == 'editor' ||  this.user_role == 'viewer'){
                    return true;
                }else{
                    return false;
                }
            },
        },
        methods: {
            initialLoad(){
                    this.$emit("pageLoading",true);
                    
                    

                    this.$emit("childProps","contentpages");

                    this.user_role = this.global_store.getters.user_role;


                    let $this = this;
                    this.axios.get(index_url + '/api/get-content-pages', {
                            headers: {
                                Authorization: 'Bearer ' + localStorage.getItem('token')
                            }
                        })
                        .then(response => {
                            $this.contentpages = response.data.contentpages;

                            this.$emit("pageLoading",false);
                        })
                        .catch(error => {
                        });

            },
        }
  }
</script>