<template>
        <div>
            <div class="container-fluid">
                <div class="row m-0">
                    <div class="col-md-4 col-sm-6 info-box">
                        <div class="media">
                            <div class="media-left">
                                <span class="icoleaf bg-primary text-white"><i class="fa fa-cart-arrow-down"></i></span>
                            </div>
                            <div class="media-body">
                                <h3 class="info-count text-blue">{{normal_orders}}</h3>
                                <p class="info-text font-12">Normal Orders</p>
                                <span class="hr-line"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 info-box">
                        <div class="media">
                            <div class="media-left">
                                <span class="icoleaf bg-primary text-white"><i class="fa fa-cart-plus"></i></span>
                            </div>
                            <div class="media-body">
                                <h3 class="info-count text-blue">{{custom_orders}}</h3>
                                <p class="info-text font-12">Custom Orders</p>
                                <span class="hr-line"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 info-box">
                        <div class="media">
                            <div class="media-left">
                                <span class="icoleaf bg-primary text-white"><i class="fa fa-user"></i></span>
                            </div>
                            <div class="media-body">
                                <h3 class="info-count text-blue">{{users}}</h3>
                                <p class="info-text font-12">Moderators</p>
                                <span class="hr-line"></span>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-3 col-sm-6 info-box b-r-0" style="padding-bottom: 15px">
                        <div class="media">
                            <div class="media-left p-r-5">
                                <i class="fa fa-bullseye fa-5x text-primary"></i>
                            </div>
                            <div class="media-body">
                                <h2 class="text-blue font-22 m-t-0" style="margin-bottom: 10px">Report</h2>
                                <ul class="p-0 m-b-20">
                                    <li><i class="fa fa-circle m-r-5 text-success"></i>{{delivered_orders}} Delivered</li>
                                    <li><i class="fa fa-circle m-r-5 text-warning"></i>{{pending_orders}} Pending</li>
                                    <li><i class="fa fa-circle m-r-5 text-primary"></i>{{all_orders}} Orders</li>
                                </ul>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="container" style="margin-top:35px">
                <div class="row colorbox-group-widget">
                    <div class="col-md-4 col-sm-6 info-color-box">
                        <div class="white-box">
                            <div class="media bg-primary">
                                <div class="media-body">
                                    <h3 class="info-count">{{products}} <span class="pull-right"><i class="fa fa-car"></i></span></h3>
                                    <p class="info-text font-12">Products</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 info-color-box">
                        <div class="white-box">
                            <div class="media bg-success">
                                <div class="media-body">
                                    <h3 class="info-count">{{brands}} <span class="pull-right"><i class="fa fa-paper-plane-o"></i></span></h3>
                                    <p class="info-text font-12">Brands</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 info-color-box">
                        <div class="white-box">
                            <div class="media bg-danger">
                                <div class="media-body">
                                    <h3 class="info-count">{{models}} <span class="pull-right"><i class="fa fa-caret-square-o-right"></i></span></h3>
                                    <p class="info-text font-12">Models</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-3 col-sm-6 info-color-box">
                        <div class="white-box">
                            <div class="media bg-warning">
                                <div class="media-body">
                                    <h3 class="info-count">{{reviews}} <span class="pull-right"><i class="fa fa-star-half-full"></i></span></h3>
                                    <p class="info-text font-12">Reviews</p>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="white-box stat-widget">
                            <div class="row">
                                <GChart
                                    id = "chartContainer"
                                    type="LineChart"
                                    :data="chartData"
                                    :options="chartOptions"
                                />
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-4 col-sm-12">
                        <div class="white-box order-chart-widget">
                            <h4 class="box-title">Order Status</h4>
                            <div id="order-status-chart" style="height: 250px;"></div>
                            <ul class="list-inline m-b-0 m-t-20 t-a-c">
                                <li>
                                    <h6 class="font-15"><i class="fa fa-circle m-r-5" style="color:#0283cc"></i>Total</h6>
                                </li>
                                <li>
                                    <h6 class="font-15"><i class="fa fa-circle m-r-5" style="color:#e74a25"></i>Pending</h6>
                                </li>
                                <li>
                                    <h6 class="font-15"><i class="fa fa-circle m-r-5" style="color:#2ecc71"></i>Delivered</h6>
                                </li>
                            </ul>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>                                  
</template>

<style scoped>
    #chartContainer svg g { font-family: HelveticaNeue; }
</style>


<script> 

import { GChart } from 'vue-google-charts'

  export default {

        components: {
            GChart
        },
      
        data() {
            return{
                hosturl: index_url,
                all_orders: 0,
                pending_orders: 0,
                delivered_orders: 0,
                normal_orders: 0,
                custom_orders: 0,
                users: 0,
                products: 0,
                brands: 0,
                models: 0,
                reviews: 0,
                linedata: [],

                chartData: [],
                chartOptions: {
                    title: 'Order Statistics',
                    height: 400,
                    pointSize: 5,
                    curveType: 'function',
                    colors: ['#18994e', '#a12327'],
                    tooltip: {isHtml: true},
                    legend: 'bottom',
                }


            }  
        },
        created() {
        },
        mounted(){
            this.initialLoad();
        },
        methods: {
          initialLoad(){
                this.$emit("pageLoading",true);
                this.$emit("childProps","dashboard");
                
                $(function(){
                
                 
                });

                let $this = this;
                this.axios.get(index_url + '/api/dashboard-details', {
                    headers: {
                        Authorization: 'Bearer ' + localStorage.getItem('token')
                    }
                })
                .then(response => {
                    $this.users = response.data.users_count;
                    $this.products = response.data.product_count;
                    $this.brands = response.data.brand_count;
                    $this.models = response.data.model_count;
                    $this.reviews = response.data.review_count;
                    $this.all_orders = response.data.all_orders_count;
                    $this.pending_orders = response.data.pending_orders_count;
                    $this.delivered_orders = response.data.delivered_orders_count;
                    $this.normal_orders = response.data.normal_orders_count;
                    $this.custom_orders = response.data.custom_orders_count;
                    $this.chartData = response.data.chartData;

                    this.$emit("pageLoading",false);

                    
                })
                .catch(error => {
                });
          },
        },
  } 
</script>