<template>
  <div>
    <div class="admintop"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="white-box">

                    <h3 class="pageheader">Edit Order</h3>

                    <div class="edit-form">

                      

                            <div><img :src="imagelink(media)" style="object-position: cover; height: 300px;"></div>

                             

                            <input v-model="order_code" type="hidden" name="order_code" class="form-control">
                            <div class="form-group">
                                <label>Change product image</label>
                                <input type="file" name="" id="input" class="form-control search" value="" ref="file" @change="handleFileUpload()">
                            </div>

                            <div class="form-group">
                                <label>Vin</label>
                                <input v-model="vin" type="text" name="vin" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>Brand</label>
                                <input v-model="brand" type="text" name="brand" class="form-control" disabled>
                            </div>

                            <div class="form-group">
                                <label>Model</label>
                                <input v-model="model" type="text" name="model" class="form-control" disabled>
                            </div>

                            <div class="form-group">
                                <label>Year</label>
                                <input v-model="year_selected" type="text" name="year_selected" class="form-control" disabled>
                            </div>

                            <div class="form-group">
                                <label>Trim</label>
                                <input v-model="trim" type="text" name="trim" class="form-control" disabled>
                            </div>

                            <div class="form-group">
                                <label>Part Name</label>
                                <input v-model="part_name" type="text" name="part_name" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>Part Number</label>
                                <input v-model="part_number" type="text" name="part_number" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>Quantity</label>
                                <input v-model="quantity" type="number" name="quantity" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>Price</label>
                                <input v-model="price" type="text" name="price" class="form-control">
                            </div>

                            <button :disabled="isdisabled" @click="updateOrder()" class="btn btn-primary">Update <i v-if="isdisabled == true" class="fa fa-circle-o-notch fa-spin" style="font-size:18px"></i></button>
               

                        <div style="margin-top:15px">
                            <button @click="$router.back()" class="btn btn-info"> 
                                <i class="fa fa-reply"></i> Go Back
                            </button>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
  </div>
</template>


<style lang="scss" scoped >
    @import "./resources/assets/sass/admin/general.scss";
    .table>tbody>tr>td:nth-child(1){
        font-family: helveticaNeueMed !important;
    }
    .custom_order_media{
        object-fit: cover;
        height: 150px;
        width: 150px;
    }
</style>

<script>


    import Vue from 'vue'
    import { Form, HasError, AlertError } from 'vform'

    Vue.component(HasError.name, HasError)
    Vue.component(AlertError.name, AlertError)

    
    const objectToFormData = window.objectToFormData

    export default {
        
            data() {
                return{
                    hosturl: index_url,
                    order_code: '',
                    vin: '',
                    brand: '',
                    model: '',
                    year_selected: '',
                    trim: '',
                    part_name: '',
                    media: '',
                    part_number: '',
                    quantity: 0,
                    shipping: 0,
                    price: 0,
                    file: '',
                    isdisabled: false,
                }  
            },
            created() {
            },
            mounted(){
                this.initialLoad();
            },
            computed: {
                totalPrice(){
                    return (parseFloat(this.price) * parseFloat(this.quantity)) + parseFloat(this.shipping);
                }
            },
            methods: {
                initialLoad(){
                    this.isdisabled = false;
                    
                    this.$emit("pageLoading",true);
                    this.$emit("childProps","customorders");

                    let $this = this;
                    this.axios.get(index_url + '/api/edit-order/' + this.$route.params.id, {
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('token')
                        }
                    })
                    .then(response => {
                        $this.vin = response.data.order.vin;
                        $this.brand = response.data.order.brand;
                        $this.model = response.data.order.model;
                        $this.year_selected = response.data.order.year_selected;
                        $this.trim = response.data.order.trim;
                        $this.part_name = response.data.order.part_name;
                        $this.part_number = response.data.order.part_number;
                        $this.quantity = response.data.order.quantity;
                        $this.shipping = response.data.order.shipping;
                        $this.price = response.data.order.price;
                        $this.order_code = response.data.order.order_code;
                        $this.media = response.data.order.media;

                     
                        this.$emit("pageLoading",false);
                    })
                    .catch(error => {

                        this.$emit("pageLoading",false);
                    });
                },

                updateOrder(){

                    this.$Progress.start();
                    let formData = new FormData();
                    let $this = this;

                    $this.isdisabled = true;

                    formData.append('id', this.$route.params.id);
                    formData.append('order_code', this.order_code);
                    formData.append('vin', this.vin);
                    formData.append('brand', this.brand);
                    formData.append('model', this.model);
                    formData.append('year_selected', this.year_selected);
                    formData.append('trim', this.trim);
                    formData.append('part_number', this.part_number);
                    formData.append('part_name', this.part_name);
                    formData.append('quantity', this.quantity);
                    formData.append('price', this.price);
                    formData.append('file', this.file);


                    this.axios.post(index_url + '/api/update-order',formData,{
                        headers: {
                            'Content-Type': 'multipart/form-data',
                            Authorization: 'Bearer ' + localStorage.getItem('token')
                        }
                    })
                    .then(({ data }) => { 
                        this.Swal(
                            'Updated!',
                            'Order updated successfully',
                            'success'
                        )
                        if(data.new_media != null){
                            $this.media = data.new_media;
                        }
                        $this.isdisabled = false;
                        
                        if($this.isdisabled == false){
                            this.$Progress.finish();
                        }
                    })
                    .catch(error => {
                        this.$Progress.fail();
                       $this.isdisabled = false;
                    });
                },

                imagelink(link){
                        if(link == null || link == ""){
                        var img_src = "https://cdn2.iconfinder.com/data/icons/picons-essentials/71/gallery-512.png";
                        }else{
                        var img_src = index_url + '/' + link;
                        }

                        return img_src;
                },
                handleFileUpload(){
                    this.file = this.$refs.file.files[0];
                }
            }
    }
</script>