<template>
    <div id="wrapper" :class="{'mini-sidebar': mini_sidebar_value}">
      
        <nav-menu :newOrderCount="new_order_count" @miniSideBar="miniSideBarValue" :sidebarMinimizeProps="mini_sidebar_value"></nav-menu>
        
        <side-bar :activesidebar="active_side_menu" @miniSideBar="miniSideBarValue"></side-bar>
        
        <div class="page-wrapper">
            <div class="grid-spinner"><grid-loader :loading="loading" :color="color"></grid-loader></div>
            <router-view @childProps="receivechildProps" @navCart="newOrderCount" @pageLoading="pageLoadingValue" :class="{ noDisplay: loading}"></router-view>
        </div>
    </div>
</template>

 
<style lang="scss" scoped >
    @import "./resources/assets/sass/admin/general.scss";
    .noDisplay{
        display: none;
    }
    
</style>

<style>
    .grid-spinner{
        text-align: center;
        left: 50%;
        position: fixed;
        top: 40%;
    }

    .page-wrapper{
        min-height: 100vh !important;
    }

    @media (max-width: 768px){
        .container {
            width: 100%;
            padding-left: 10px !important;
            padding-right: 10px !important;
        }

        .admintop{
            height: 20px !important;
        }

        ::-webkit-scrollbar {
            height: 5px !important;
            background-color: #a12327 !important;
        }

        .grid-spinner{
            text-align: center;
            left: 42.5%;
            position: fixed;
            top: 40%;
        }
    }
</style>


<script>
import NavMenu from '@/views/includes/admin/NavMenu';
import SideBar from '@/views/includes/admin/SideBar';

export default {
  components: {
    NavMenu, 
    SideBar, 
  },
  data() {
    return{
        active_side_menu: "dashboard",
        new_order_count: 0,
        loading: true,
        color: "#ed3137",
        mini_sidebar_value: false,
    }  
  },
  created() {
      $(".image-bubble-close").hide();
      $(".icon-chat appear").hide();
  },
  mounted(){
        this.axios.get(index_url + '/api/nav-count', {
            headers: {
                Authorization: 'Bearer ' + localStorage.getItem('token')
            }
        })
        .then(response => {        
            this.new_order_count = response.data.newOrderCount;
        })
        .catch(error => {
        });

        // if(window.innerWidth < 768){
        //     this.mini_sidebar_value = true;
        // }

  },
  methods: {
      receivechildProps(value){
          this.active_side_menu = value;
      },
      newOrderCount(value){
          this.new_order_count = value;
      },
      pageLoadingValue(value){
          this.loading = value;
      },
      miniSideBarValue(value){
          this.mini_sidebar_value = value;
      }
  }
}

</script>