<template>
  <div>
    <div class="admintop"></div>
    <div class="container">
        <div class="row">
          <div class="col-md-12">
              <div class="white-box">

                <h3 class="pageheader">Models</h3>

                <h3 style="margin-bottom:15px">{{brand_title}} </h3>

                <button v-if="levelAccess2" class="btn btn-success btn-sm" @click="addModel(brand_id)" style="margin-bottom:20px"> <i class="fa fa-plus"></i> Add Model</button>

                <vue-good-table
                :columns="columns"
                :rows="models"
                :search-options="{enabled: true}"
                :sort-options="{enabled: true}"
                :pagination-options="{enabled: true, mode: 'pages', perPage: 50, perPageDropdown: [50, 100, 150]}"
                :lineNumbers="true">
                    <template slot="table-row" slot-scope="props">
                        <span v-if="props.column.field == 'actions'">
                            <router-link v-if="levelAccess4" :to="{name: 'admin-year', params: { model: props.row.slug, brand: $route.params.brand} }" class="btn btn-success btn-sm" aria-expanded="false">
                                <i class="fa fa-eye"></i> view
                            </router-link>
                            <button v-if="levelAccess3" class="btn btn-warning btn-sm" @click="editModel(props.row.id, props.row.title)"> <i class="fa fa-pencil"></i> edit</button>     
                            <button v-if="levelAccess2" class="btn btn-primary btn-sm" @click="deleteModel(props.row.id)"> <i class="fa fa-trash"></i> delete</button>  
                        </span>
                        <span v-else>
                            {{props.formattedRow[props.column.field]}}
                        </span>
                    </template> 
                </vue-good-table>


              </div>
          </div>
        </div>
    </div>

    <modal name="add-model" height=auto width="70%" classes="custom-modal">
        <div>
            <h4 class="text-success" style="margin-bottom:10px">Add Model</h4>
            <small>Add multiple models by separating each model with a comma</small>
            <input type="text" class="form-control" name="model-name" v-model="model_name" value="">

            <button class="btn btn-success" style="margin-top:20px" @click="submitModel()"> <i class="fa fa-save"></i> Save</button>
        </div>
    </modal>

    <modal name="edit-model" height=auto width="70%" classes="custom-modal">
        <div>
            <h4 class="text-success" style="margin-bottom:10px">Update Model</h4>
            <input type="text" class="form-control" name="model-name" v-model="edit_model_name" value="">

            <button class="btn btn-success" style="margin-top:20px" @click="updateModel(edit_model_id)"> <i class="fa fa-save"></i> Update</button>
        </div>
    </modal>


  </div>
</template>


<style lang="scss" scoped >
    @import "./resources/assets/sass/admin/general.scss";

    .modelimg{
      object-fit: contain;
      width: 60px;
    }

</style>


<script>
  export default {
     
        data() {
            return{
                hosturl: index_url,
                brand_title: '',
                brand_id: '',
                model_name: '',
                edit_model_name: '',
                edit_model_id: '',
                user_role: '',
                models: [],
                columns: [
                    {
                        label: 'ID',
                        field: 'id',
                        hidden: true,
                    },
                    {
                        label: 'Model',
                        field: 'title',
                    },
                    {
                        label: 'Created On',
                        field: 'created_at',
                    },
                    {
                        label: 'Updated On',
                        field: 'updated_at',
                    },
                    {
                        label: 'Actions',
                        field: 'actions',
                        sortable: false,
                    },
                ],
            }  
        },
        created() {
        },
        mounted(){
            this.initialLoad();
        },
        computed: {
            levelAccess1(){
                if(this.user_role == 'super admin'){
                    return true;
                }else{
                    return false;
                }
            },
            levelAccess2(){
                if(this.user_role == 'super admin' ||  this.user_role == 'admin'){
                    return true;
                }else{
                    return false;
                }
            },
            levelAccess3(){
                if(this.user_role == 'super admin' ||  this.user_role == 'admin' ||  this.user_role == 'editor'){
                    return true;
                }else{
                    return false;
                }
            },
            levelAccess4(){
                if(this.user_role == 'super admin' ||  this.user_role == 'admin' ||  this.user_role == 'editor' ||  this.user_role == 'viewer'){
                    return true;
                }else{
                    return false;
                }
            },
        },
        methods: {
            selectionChanged(params) {
                // params.selectedRows - all rows that are selected (this page)
            },

            initialLoad(){
                this.$emit("childProps","brands");
                this.$emit("pageLoading",true);

                this.user_role = this.global_store.getters.user_role;
                
                let $this = this;
                this.axios.get(index_url + '/api/get-models/' + this.$route.params.brand, {
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('token')
                        }
                    })
                    .then(response => {
                        $this.models = response.data.models;

                        $this.brand_id = response.data.brand.id;
                        $this.brand_title = response.data.brand.title;

                        
                        this.$emit("pageLoading",false);
                    })
                    .catch(error => {
                        $this.$router.push({ name: 'notfound' });
                    });
            },
            addModel(){
                this.$modal.show('add-model');
            },
            submitModel(){
                this.axios.get(index_url + '/api/add-model/' + this.model_name + '/' + this.brand_id, {
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('token')
                        }
                    })
                    .then(response => {
                        this.initialLoad();
                        this.$modal.hide('add-model');
                        toast({
                            type: 'success',
                            title: 'Model(s) added successfully'
                        });
                    });
            },
            editModel(id,title){
                this.$modal.show('edit-model');
                $(".editmodel").val(title);
                this.edit_model_name = title;
                this.edit_model_id = id;
            },
            updateModel(){
                this.axios.get(index_url + '/api/edit-model/' + this.edit_model_id + '/' + this.edit_model_name , {
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('token')
                        }
                    })
                    .then(response => {
                        this.initialLoad();
                        this.$modal.hide('edit-model');
                        toast({
                            type: 'success',
                            title: 'Model updated successfully'
                        });
                    });
            },
            deleteModel(id){

                this.Swal({
                        title: 'Are you sure?',
                        text: "You won't be able to revert this!",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#d33',
                        cancelButtonColor: '#2ecc71',
                        confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {

                        if (result.value) {

                            this.axios.get(index_url + '/api/delete-model/' + id, {
                                headers: {
                                    Authorization: 'Bearer ' + localStorage.getItem('token')
                                }
                            })
                            .then(response => {
                                this.initialLoad();
                                this.Swal(
                                    'Deleted!',
                                    'Model deleted successfully',
                                    'success'
                                )
                            });
                        }
                })
                
            }
        }
  }
</script>