<template>
  <div>
    <div class="admintop"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="white-box">

                    <h3 class="pageheader">Order Page</h3>

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td class="col-md-3">Name</td>
                                    <td class="col-md-9">{{user_details.name}}</td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">Email</td>
                                    <td class="col-md-9">{{user_details.email}}</td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">Phone Number</td>
                                    <td class="col-md-9">{{user_details.phone_number}}</td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">Address</td>
                                    <td class="col-md-9">{{user_details.address}}, {{user_details.lga}}, {{user_details.state}}</td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">Payment</td>
                                    <td class="col-md-9">{{user_details.payment}}</td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">Order Status</td>
                                    <td class="col-md-9">{{order_status}}</td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">Shopping Cart Amount</td>
                                    <td class="col-md-9">N{{formatter.format(total_normal)}}</td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">Custom Cart Amount</td>
                                    <td class="col-md-9">N{{formatter.format(total_custom)}}</td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">Shipping Amount</td>
                                    <td class="col-md-9"><input type="text" class="form-control" v-model="shipping_amount" :disabled="order_status != 'new'"></td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">Total Amount</td>
                                    <td class="col-md-9">N{{formatter.format(total_amount)}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <h3 style="margin-top:30px">Default Products</h3>
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 250px;"></th>
                                    <th>Title</th>
                                    <th>QTY</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="product_order in product_orders" :key="product_order.id">
                                    <td><img :src="imagelink(product_order.default_image.media)" alt="" class="product-image"></td>
                                    <td>{{product_order.product_title}}</td>
                                    <td>{{product_order.quantity}}</td>
                                    <td>{{product_order.price}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    
                    <h3 style="margin-top:30px">Custom Products</h3>
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 250px;"></th>
                                    <th>Brand | Model</th>
                                    <th>Year | Trim</th>
                                    <th>VIN</th>
                                    <th>Part No | Part Name</th>
                                    <th>QTY</th>
                                    <th>Price</th>
                                    <th>Comments</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="custom_order in custom_orders" :key="custom_order.id">
                                    <td><img :src="imagelink(custom_order.media)" alt="" class="product-image"></td>
                                    <td>{{custom_order.brand}} | {{custom_order.model}}</td>
                                    <td>{{custom_order.year_selected}} | {{custom_order.trim}}</td>
                                    <td>{{custom_order.vin}}</td>
                                    <td>{{custom_order.part_number}} | {{custom_order.part_name}}</td>
                                    <td>{{custom_order.quantity}}</td>
                                    <td>{{custom_order.price}}</td>
                                    <td>{{custom_order.comment}}</td>
                                    <td><router-link :to="{name: 'editorderpage', params:{id: custom_order.id}}" id="" class="btn btn-warning btn-sm"><i class="fa fa-pencil"></i> Edit</router-link> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    

                    <div style="margin:50px 0px 10px">
                        <label>Order Status</label>
                        <select v-model="order_status" name="" id="" class="form-control">
                            <option value="new">new</option>
                            <option value="confirmed">confirmed</option>
                            <option value="processing">processing</option>
                            <option value="shipping">shipping</option>
                            <option value="delivered">delivered</option>
                            <option value="not delivered">not delivered</option>
                            <option value="cancelled">cancelled</option>
                        </select>
                        <button v-if="levelAccess4" @click="updateOrderStatus()" class="btn btn-success" style="margin:15px 0px 10px"> 
                            <i class="fa fa-save"></i> Save
                        </button>
                    </div>


                </div>
            </div>
        </div>
    </div>
  </div>
</template>


<style lang="scss" scoped >
    @import "./resources/assets/sass/admin/general.scss";
    .table>tbody>tr>td:nth-child(1){
        font-family: helveticaNeueMed !important;
    }
    .custom_order_media{
        object-fit: cover;
        height: 150px;
        width: 150px;
    }

    .product-image{
        width: 180px;
        height: 180px;
        border-radius: 7px 7px 0px 0px;
        object-fit: cover;
    }   
</style>

<script>
  export default {
      
        data() {
            return{
                hosturl: index_url,
                order_status:'',
                product_orders: [],
                custom_orders: [],
                user_details: {},
                order_code: '',
                user: {},
                user_role: '',
                total_normal: 0,
                total_custom: 0,
                shipping_amount: 0,
                formatter: new Intl.NumberFormat('en-US', {
                    style: 'decimal',
                    minimumFractionDigits: 2
                }),
            }  
        },
        created() {
        },
        mounted(){
            this.initialLoad();
        },
        computed: {
            levelAccess1(){
                if(this.user_role == 'super admin'){
                    return true;
                }else{
                    return false;
                }
            },
            levelAccess2(){
                if(this.user_role == 'super admin' ||  this.user_role == 'admin'){
                    return true;
                }else{
                    return false;
                }
            },
            levelAccess3(){
                if(this.user_role == 'super admin' ||  this.user_role == 'admin' ||  this.user_role == 'editor'){
                    return true;
                }else{
                    return false;
                }
            },
            levelAccess4(){
                if(this.user_role == 'super admin' ||  this.user_role == 'admin' ||  this.user_role == 'editor' ||  this.user_role == 'viewer'){
                    return true;
                }else{
                    return false;
                }
            },
            total_amount(){
                return parseFloat(this.total_normal) + parseFloat(this.total_custom) + parseFloat(this.shipping_amount)
            }
        },
        methods: {
            initialLoad(){
                this.$emit("pageLoading",true);
                
                this.user_role = this.global_store.getters.user_role;

                this.$emit("childProps","orders");

                let $this = this;
                this.axios.get(index_url + '/api/get-order/' + this.$route.params.order_code, {
                    headers: {
                        Authorization: 'Bearer ' + localStorage.getItem('token')
                    }
                })
                .then(response => {
                    $this.product_orders = response.data.product_orders;
                    $this.custom_orders = response.data.custom_orders;
                    $this.user_details = response.data.user_details;
                    $this.order_status = response.data.user_details.tracking_status;
                    $this.shipping_amount = response.data.user_details.shipping,
                    $this.order_code = response.data.user_details.order_code;
                    $this.total_normal = response.data.total_normal;
                    $this.total_custom = response.data.total_custom;
                    
                    this.$emit("pageLoading",false);
                })
                .catch(error => {
                });
            },

    
            imagelink(link){
                if(link == null){
                var img_src = "https://cdn2.iconfinder.com/data/icons/picons-essentials/71/gallery-512.png";
                }else{
                var img_src = index_url + '/' + link;
                }  

                return img_src;
            },
    

            updateOrderStatus(){
                this.$Progress.start();

                let $this = this;
                
                this.axios.post(index_url + '/api/update-order-status', {
                        order_code: $this.$route.params.order_code,
                        order_status: $this.order_status,
                        total_custom: $this.total_custom,
                        total_normal: $this.total_normal,
                        shipping_amount: $this.shipping_amount,
                        total_amount: $this.total_amount,
                    },
                    {
                    headers: {
                        Authorization: 'Bearer ' + localStorage.getItem('token')
                    },
                })
                .then(response => {
                    this.$Progress.finish();
                    this.Swal(
                        'Updated!',
                        'Order status updated successfully',
                        'success'
                    );

                    this.$emit("navCart",response.data.newOrderCount);
                })
                .catch(error => {
                    this.$Progress.fail();
                });
            }
        }
  }
</script>