<template>
  <div>
    <div class="admintop"></div>
    <div class="container">
        <div class="row">
          <div class="col-md-12">
              <div class="white-box">

                  <h3 style="margin-bottom:20px" class="text-primary">Product Brand Logos</h3>

                <vue-dropzone ref="dropzone" id="drop1" :options="dropOptions" @vdropzone-complete="afterComplete" @vdropzone-success="afterFileSuccess" @vdropzone-removed-file="removefile" ></vue-dropzone>
                <div @click="removeAllFiles" class="btn btn-info btn-xs" style="margin-top:2px">Remove All Files</div><br><br>

              </div>
          </div>
        </div>
    </div>
  </div>
</template>


<style lang="scss" scoped >
    @import "./resources/assets/sass/admin/general.scss";
    

</style>

<style>
    
</style>

<script>


    import Vue from 'vue'

    import vueDropzone from "vue2-dropzone";

    export default {
      
        data() {
            return{
                hosturl: index_url,
                productLogoUpdateDropzone: false,

                dropOptions: {
                    paramName: "fileupload",
                    url: index_url + '/api/upload-product-brand-logos',
                    maxFilesize: 2, // MB
                    maxFiles: 7,
                    thumbnailWidth: 150, // px
                    thumbnailHeight: 150,
                    addRemoveLinks: true,
                    headers: {
                        Authorization: 'Bearer ' + localStorage.getItem('token')
                    }
                }
            }  
        },
        components: {
            vueDropzone,
        },
        created() {
        },
        mounted(){
            this.initialLoad();
        },
        methods: {
            initialLoad(){
                
                this.$emit("childProps","productbrands");
                this.$emit("pageLoading",true);
                
                let $this = this;

                this.axios.get(index_url + '/api/get-product-brand-logos', {
                    headers: {
                        Authorization: 'Bearer ' + localStorage.getItem('token')
                    }
                })
                .then(response => {
                    this.$emit("pageLoading",false);

                    var json = response.data.product_brand_logos;

                    for(var i = 0; i < json.length; i++) {
                        var obj = json[i];

                        var file = { name: obj.media_title , type: "image/jpg", size: 500000 };
                        var url = obj.media;
                        this.$refs.dropzone.manuallyAddFile(file, index_url + "/" + url);
                    }
                })
                .catch(error => {
                });

            },
            afterComplete(file) {
            },
            afterFileSuccess(file, response){
            },
            removeAllFiles() {
                this.$refs.dropzone.removeAllFiles();
            },
            removefile(file, error, xhr) {
                var $this = this;
                var status= ""; var manuallyAdded = "";

                if(this.productLogoUpdateDropzone === false){
                    if (file.xhr != null) {
                        status = file.xhr.status
                    }
                    if (file.manuallyAdded != null) {
                        manuallyAdded = file.manuallyAdded
                    }
                    if(status != 400 || manuallyAdded == true){
                        this.axios.get(index_url + '/api/delete-product-brand-logo', {
                                headers: {
                                    Authorization: 'Bearer ' + localStorage.getItem('token')
                                },
                                params: {
                                    title: file.name
                                }
                        })
                        .then(response => {
                            toast({
                                type: "success",
                                title: "File removed"
                            });


                        })
                        .catch(error => {
                        });
                    }
                }else{
                    this.reloadDropzone = false;
                }
                    
                
            },
        },
        beforeRouteLeave (to, from, next) {
            this.productLogoUpdateDropzone = true;

            next();
        },
  }
</script>