<template>
  <div>
    <div class="admintop"></div>
    <div class="container">
        <div class="row">
          <div class="col-md-12">
              <div class="white-box">

                <h3 class="pageheader">Product Categories</h3>

                <button v-if="levelAccess2" class="btn btn-success btn-sm" @click="addProductCategory()" style="margin-bottom:20px"> <i class="fa fa-plus"></i> Add Product Category</button>

                <vue-good-table
                :columns="columns"
                :rows="categories"
                :search-options="{enabled: true}"
                :sort-options="{enabled: true}"
                :pagination-options="{enabled: true, mode: 'pages', perPage: 50, perPageDropdown: [50, 100, 150]}"
                :lineNumbers="true">
                    <template slot="table-row" slot-scope="props">
                        <span v-if="props.column.field == 'actions'">
                            <router-link v-if="levelAccess4" :to="{name: 'productsbycategory', params: { category_id: props.row.id } }" class="btn btn-success btn-sm" aria-expanded="false">
                                <i class="fa fa-eye"></i> view
                            </router-link>
                            <button v-if="levelAccess3" class="btn btn-warning btn-sm" @click="editProductCategory(props.row.id, props.row.title)"> <i class="fa fa-pencil"></i> edit</button>     
                            <button v-if="levelAccess2" class="btn btn-primary btn-sm" @click="deleteProductCategory(props.row.id)"> <i class="fa fa-trash"></i> delete</button>  
                        </span>
                        <span v-else>
                            {{props.formattedRow[props.column.field]}}
                        </span>
                    </template> 
                </vue-good-table>


              </div>
          </div>
        </div>
    </div>

    <modal name="add-productcategory" height=auto width="70%" classes="custom-modal">
        <div>
            <h4 class="text-success" style="margin-bottom:10px">Add Product Category</h4>
            <small>Add multiple categories by separating each category with a comma</small>
            <input type="text" class="form-control" name="product_category" v-model="product_category" value="">

            <button class="btn btn-success" style="margin-top:20px" @click="submitProductCategory()"> <i class="fa fa-save"></i> Save</button>
        </div>
    </modal>

    <modal name="edit-productcategory" height=auto width="70%" classes="custom-modal">
        <div>
            <h4 class="text-success" style="margin-bottom:10px">Update Category</h4>
            <input type="text" class="form-control" name="product_category" v-model="edit_product_category" value="">

            <button class="btn btn-success" style="margin-top:20px" @click="updateProductCategory()"> <i class="fa fa-save"></i> Update</button>
        </div>
    </modal>


  </div>
</template>


<style lang="scss" scoped >
    @import "./resources/assets/sass/admin/general.scss";
</style>


<script>
  export default {
      
        data() {
            return{
                hosturl: index_url,
                product_category: [],
                edit_product_category: '',
                edit_product_category_id: '',
                categories: [],
                user_role: '',
                columns: [
                    {
                        label: 'ID',
                        field: 'id',
                        hidden: true,
                    },
                    {
                        label: 'Category',
                        field: 'title',
                    },
                    {
                        label: 'Slug',
                        field: 'slug',
                        hidden: true,
                    },
                    {
                        label: 'Created On',
                        field: 'created_at',
                    },
                    {
                        label: 'Actions',
                        field: 'actions',
                        sortable: false,
                    },
                ],
            }  
        },
        created() {
        },
        mounted(){
            this.initialLoad();
        },
        computed: {
            levelAccess1(){
                if(this.user_role == 'super admin'){
                    return true;
                }else{
                    return false;
                }
            },
            levelAccess2(){
                if(this.user_role == 'super admin' ||  this.user_role == 'admin'){
                    return true;
                }else{
                    return false;
                }
            },
            levelAccess3(){
                if(this.user_role == 'super admin' ||  this.user_role == 'admin' ||  this.user_role == 'editor'){
                    return true;
                }else{
                    return false;
                }
            },
            levelAccess4(){
                if(this.user_role == 'super admin' ||  this.user_role == 'admin' ||  this.user_role == 'editor' ||  this.user_role == 'viewer'){
                    return true;
                }else{
                    return false;
                }
            },
        },
        methods: {
            initialLoad(){
                this.$emit("pageLoading",true);
                $(".show-sidebar").hide();
                

                this.$emit("childProps","productcategories");

                this.user_role = this.global_store.getters.user_role;


                let $this = this;
                this.axios.get(index_url + '/api/categories-for-products', {
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('token')
                        }
                    })
                    .then(response => {
                        $this.categories = response.data.categories;
                        
                        this.$emit("pageLoading",false);
                    }
                );
            },
            addProductCategory(){
                this.product_category = "";
                this.$modal.show('add-productcategory');
            },
            submitProductCategory(){
                this.axios.get(index_url + '/api/add-product-category/' + this.product_category, {
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('token')
                        }
                    })
                    .then(response => {
                        this.initialLoad();
                        this.$modal.hide('add-productcategory');
                        toast({
                            type: 'success',
                            title: 'Product Category(s) added successfully'
                        });
                    });
            },
            editProductCategory(id,title){
                this.$modal.show('edit-productcategory');
                this.edit_product_category = title;
                this.edit_product_category_id = id;
            },
            updateProductCategory(){
                this.axios.get(index_url + '/api/edit-product-category/' + this.edit_product_category_id + '/' + this.edit_product_category , {
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('token')
                        }
                    })
                    .then(response => {
                        this.initialLoad();
                        this.$modal.hide('edit-productcategory');
                        toast({
                            type: 'success',
                            title: 'Product Category updated successfully'
                        });
                    });
            },
            deleteProductCategory(id){

                this.Swal({
                        title: 'Are you sure?',
                        text: "You won't be able to revert this!",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#d33',
                        cancelButtonColor: '#2ecc71',
                        confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {

                        if (result.value) {

                            this.axios.get(index_url + '/api/delete-product-category/' + id, {
                                headers: {
                                    Authorization: 'Bearer ' + localStorage.getItem('token')
                                }
                            })
                            .then(response => {
                                this.initialLoad();
                                this.Swal(
                                    'Deleted!',
                                    'Product Category deleted successfully',
                                    'success'
                                )
                            });
                        }
                })
                
            }
        }
  }
</script>