<template>
  <div>
    <div class="admintop"></div>
    <div class="container">
        <div class="row">
          <div class="col-md-12">
              <div class="white-box">

                <h3 class="pageheader">{{category}} Products</h3>

                <router-link :to="{name: 'addproduct'}" class="btn btn-success btn-sm" style="margin-bottom:20px"> <i class="fa fa-plus"></i> Add Products</router-link>
                
                <vue-good-table
                :columns="columns"
                :rows="products"
                :search-options="{enabled: true}"
                :sort-options="{enabled: true,initialSortBy: {field: 'title', type: 'asc'}}"
                :pagination-options="{enabled: true, mode: 'pages', perPage: 50, perPageDropdown: [50, 100, 150]}"
                :lineNumbers="true">
                    <template slot="table-row" slot-scope="props">
                        <span v-if="props.column.field == 'actions'">
                            <router-link :to="{name: 'editproduct', params: { id: props.row.id } }" class="btn btn-warning btn-xs"> <i class="fa fa-pencil"></i> edit</router-link>    
                            <button class="btn btn-primary btn-xs" @click="deleteProduct(props.row.id)"> <i class="fa fa-trash"></i> delete</button>  
                        </span>
                        <span v-else-if="props.column.field == 'title'">
                            <router-link :to="{name: ''}" class="text-primary" aria-expanded="false">
                                {{props.formattedRow[props.column.field]}}
                            </router-link>
                        </span>
                        <span v-else-if="props.column.field == 'category.title'">
                            <router-link :to="{name: 'productsbycategory', params: { category_id: props.row.category_id } }" class="text-primary" aria-expanded="false">
                                {{props.formattedRow[props.column.field]}}
                            </router-link>
                        </span>
                        <span v-else-if="props.column.field == 'reviews.length'">
                            <router-link :to="{name: 'reviews-by-product', params: { product_id: props.row.id } }" class="btn btn-info btn-xs" aria-expanded="false">
                                {{props.formattedRow[props.column.field]}}
                            </router-link>
                        </span>
                        <span v-else-if="props.column.field == 'orders.length'">
                            <span v-if="props.row.orders.length != '0'">
                                <router-link :to="{name: 'orders-by-product', params: { product_id: props.row.singleorder.product_id, order_type: 'normal'} }" class="btn btn-info btn-xs" aria-expanded="false">
                                    {{props.formattedRow[props.column.field]}}
                                </router-link>
                            </span>
                            <span v-else>
                                <span class="btn btn-info btn-xs" aria-expanded="false">
                                    {{props.formattedRow[props.column.field]}}
                                </span>
                            </span>
                        </span>
                        <span v-else-if="props.column.field == 'featured'">
                            <span class="text-default">
                                {{props.formattedRow[props.column.field]}}
                            </span>
                        </span>
                        <span v-else-if="props.column.field == 'hot'">
                            <span class="text-default">
                                {{props.formattedRow[props.column.field]}}
                            </span>
                        </span>
                        <span v-else-if="props.column.field == 'default_image'">
                            <img :src="imagelink(props.formattedRow[props.column.field].media)" alt="" class="productimg">
                            
                        </span>
                        <span v-else-if="props.column.field == 'price'">
                                <span class="naira">₦</span>{{formatter.format(props.formattedRow[props.column.field])}}
                        </span>
                        <span v-else>
                            {{props.formattedRow[props.column.field]}}
                        </span>
                    </template> 
                </vue-good-table>

              </div>
          </div>
        </div>
    </div>
  </div>
</template>


<style lang="scss" scoped >
    @import "./resources/assets/sass/admin/general.scss";

    .productimg{
      object-fit: contain;
      width: 80px;
    }

    .btn{
        margin-bottom: 10px;
    }

    .white-box .text-primary {
        font-family: HelveticaNeueMed;
    }

</style>

<script>
  export default {
      
        data() {
            return{
                hosturl: index_url,
                formatter: new Intl.NumberFormat('en-US', {
                    style: 'decimal',
                    minimumFractionDigits: 2
                }),
                products: [],
                category: '',
                columns: [
                    {
                        label: 'ID',
                        field: 'id',
                        hidden: true,
                    },
                    {
                        label: 'Category ID',
                        field: 'category_id',
                        hidden: true,
                    },
                    {
                        label: 'Single Order',
                        field: 'singleorder',
                        hidden: true,
                    },
                    {
                        label: 'Image',
                        field: 'default_image',
                        sortable: false,
                    },
                    {
                        label: 'Product',
                        field: 'title',
                    },
                    {
                        label: 'Reviews',
                        field: 'reviews.length',
                        type: 'number' 
                    },
                    {
                        label: 'Orders',
                        field: 'orders.length',
                        type: 'number' 
                    },
                    {
                        label: 'Category',
                        field: 'category.title',
                    },
                    {
                        label: 'Price',
                        field: 'price',
                    },
                    {
                        label: 'Feat',
                        field: 'featured',
                    },
                    {
                        label: 'Hot',
                        field: 'hot',
                    },
                    {
                        label: 'Date Created',
                        field: 'created_at',
                    },
                    {
                        label: 'Actions',
                        field: 'actions',
                        sortable: false,
                    },
                ],
            }  
        },
        created() {
        },
        mounted(){
            this.initialLoad();
        },
        computed: {
        },
        methods: {
            initialLoad(){
                    this.$emit("pageLoading",true);
                    
                    

                    this.$emit("childProps","products");


                    let $this = this;
                    this.axios.get(index_url + '/api/get-category-products/' + this.$route.params.category_id, {
                            headers: {
                                Authorization: 'Bearer ' + localStorage.getItem('token')
                            }
                        })
                        .then(response => {
                            $this.products = response.data.products;
                            $this.category = response.data.category;

                            this.$emit("pageLoading",false);
                        })
                        .catch(error => {
                        });

            },
            deleteProduct(id){
                    this.Swal({
                            title: 'Are you sure?',
                            text: "You won't be able to revert this!",
                            type: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#d33',
                            cancelButtonColor: '#2ecc71',
                            confirmButtonText: 'Yes, delete it!'
                        }).then((result) => {

                            if (result.value) {

                                this.axios.get(index_url + '/api/delete-product/' + id, {
                                    headers: {
                                        Authorization: 'Bearer ' + localStorage.getItem('token')
                                    }
                                })
                                .then(response => {
                                    this.initialLoad();
                                    this.Swal(
                                        'Deleted!',
                                        'Product deleted successfully',
                                        'success'
                                    )
                                });
                            }
                    })
            },
            imagelink(link){
                    var img_src = index_url + '/' + link;

                    return img_src;
            },
        }
  }
</script>