<template>
  <div>
    <div class="admintop"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="white-box">

                    <h3 class="pageheader">Settings</h3>

                    <div class="edit-form">


                            <div class="form-group">
                                <label>Facebook Link</label>
                                <input v-model="facebook" type="text" name="vin" class="form-control" :disabled="user_role == 'viewer'">
                            </div>

                            <div class="form-group">
                                <label>Twitter Link</label>
                                <input v-model="twitter" type="text" name="vin" class="form-control" :disabled="user_role == 'viewer'">
                            </div>

                            <div class="form-group">
                                <label>Instagram Link</label>
                                <input v-model="instagram" type="text" name="vin" class="form-control" :disabled="user_role == 'viewer'">
                            </div>

                            <div class="form-group">
                                <label>Official Email</label>
                                <input v-model="email" type="email" name="vin" class="form-control" :disabled="user_role == 'viewer'">
                            </div>

                            <div class="form-group">
                                <label>Custom Order Timer (Minutes)</label>
                                <input v-model="custom_order_timer" type="number" name="vin" class="form-control" :disabled="user_role == 'viewer'">
                            </div>



                            <button :disabled="isdisabled || user_role == 'viewer'" @click="updateOrder()" class="btn btn-primary">Update <i v-if="isdisabled == true" class="fa fa-circle-o-notch fa-spin" style="font-size:18px"></i></button>
               

                    </div>


                </div>
            </div>
        </div>
    </div>
  </div>
</template>


<style lang="scss" scoped >
    @import "./resources/assets/sass/admin/general.scss";
    .table>tbody>tr>td:nth-child(1){
        font-family: helveticaNeueMed !important;
    }
    .custom_order_media{
        object-fit: cover;
        height: 150px;
        width: 150px;
    }
</style>

<script>


    import Vue from 'vue'
    import { Form, HasError, AlertError } from 'vform'

    Vue.component(HasError.name, HasError)
    Vue.component(AlertError.name, AlertError)

    
    const objectToFormData = window.objectToFormData

    export default {
        
            data() {
                return{
                    hosturl: index_url,
                    facebook: '',
                    instagram: '',
                    twitter: '',
                    email: '',
                    custom_order_timer: '',
                    isdisabled: false,
                    user_role: '',
                }  
            },
            created() {
            },
            mounted(){
                this.initialLoad();
            },
            computed: {
            },
            methods: {
                initialLoad(){
                    this.user_role = this.global_store.getters.user_role;
                    this.isdisabled = false;
                    
                    this.$emit("pageLoading",true);
                    this.$emit("childProps","settings");

                    let $this = this;
                    this.axios.get(index_url + '/api/settings', {
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('token')
                        }
                    })
                    .then(response => {
                        $this.facebook = response.data.facebook.svalue;
                        $this.instagram = response.data.instagram.svalue
                        $this.twitter = response.data.twitter.svalue
                        $this.email = response.data.email.svalue;
                        $this.custom_order_timer = response.data.custom_order_timer.svalue;

                     
                        this.$emit("pageLoading",false);
                    })
                    .catch(error => {

                        this.$emit("pageLoading",false);
                    });
                },

                updateOrder(){

                    this.$Progress.start();
                    
                    let $this = this;

                    $this.isdisabled = true;


                    this.axios.get(index_url + '/api/update-settings',{
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('token')
                        },
                        params: {
                                facebook: $this.facebook,
                                instagram: $this.instagram,
                                twitter: $this.twitter,
                                email: $this.email,
                                custom_order_timer: $this.custom_order_timer,
                        }
                    })
                    .then(({ data }) => { 
                        this.Swal(
                            'Updated!',
                            'Settings updated successfully',
                            'success'
                        )
                        $this.isdisabled = false;
                        
                        if($this.isdisabled == false){
                            this.$Progress.finish();
                        }
                    })
                    .catch(error => {
                        this.$Progress.fail();
                       $this.isdisabled = false;
                    });
                },
            }
    }
</script>