<template>
  <div>
    <div class="admintop"></div>
    <div class="container">
        <div class="row">
          <div class="col-md-12">
              <div class="white-box">

                <h3 class="pageheader">Trims</h3>

                <h3 style="margin-bottom:15px">
                    <router-link :to="{name: 'admin-models', params: { brand: $route.params.brand } }" class="leadinglink" aria-expanded="false">
                        {{$route.params.brand}} / 
                    </router-link>
                    <router-link :to="{name: 'admin-year', params: { model: $route.params.model, brand: $route.params.brand} }" class="leadinglink" aria-expanded="false">
                        {{$route.params.model}} 
                    </router-link>
                    / {{year_title}}
                </h3>

                <button v-if="levelAccess2" class="btn btn-success btn-sm" @click="addTrim(year_id)" style="margin-bottom:20px"> <i class="fa fa-plus"></i> Add Trim</button>

                <vue-good-table
                :columns="columns"
                :rows="trims"
                :search-options="{enabled: true}"
                :sort-options="{enabled: true}"
                :pagination-options="{enabled: true, mode: 'pages', perPage: 50, perPageDropdown: [50, 100, 150]}"
                :lineNumbers="true">
                    <template slot="table-row" slot-scope="props">
                        <span v-if="props.column.field == 'actions'">
                            <button v-if="levelAccess3" class="btn btn-warning btn-sm" @click="editTrim(props.row.id, props.row.title)"> <i class="fa fa-pencil"></i> edit</button>     
                            <button v-if="levelAccess2" class="btn btn-primary btn-sm" @click="deleteTrim(props.row.id)"> <i class="fa fa-trash"></i> delete</button>  
                        </span>
                        <span v-else>
                            {{props.formattedRow[props.column.field]}}
                        </span>
                    </template> 
                </vue-good-table>


              </div>
          </div>
        </div>
    </div>

    <modal name="add-trim" height=auto width="70%" classes="custom-modal">
        <div>
            <h4 class="text-success" style="margin-bottom:10px">Add Trim</h4>
            <small>Add multiple trims by separating each trim with a comma</small>
            <input type="text" class="form-control" name="trim-name" v-model="trim_name" value="">

            <button class="btn btn-success" style="margin-top:20px" @click="submitTrim()"> <i class="fa fa-save"></i> Save</button>
        </div>
    </modal>

    <modal name="edit-trim" height=auto width="70%" classes="custom-modal">
        <div>
            <h4 class="text-success" style="margin-bottom:10px">Update Trim</h4>
            <input type="text" class="form-control" name="trim-name" v-model="edit_trim_name" value="">

            <button class="btn btn-success" style="margin-top:20px" @click="updateTrim(edit_trim_id)"> <i class="fa fa-save"></i> Update</button>
        </div>
    </modal>


  </div>
</template>


<style lang="scss" scoped >
    @import "./resources/assets/sass/admin/general.scss";

    .trimimg{
      object-fit: contain;
      width: 60px;
    }

    a.leadinglink {
        font-size: inherit;
        color: #21a358;
    }

</style>


<script>
  export default {
     
        data() {
            return{
                hosturl: index_url,
                year_title: '',
                year_id: '',
                trim_name: '',
                edit_trim_name: '',
                edit_trim_id: '',
                trims: [],
                user_role:'',
                columns: [
                    {
                        label: 'ID',
                        field: 'id',
                        hidden: true,
                    },
                    {
                        label: 'Trim',
                        field: 'title',
                    },
                    {
                        label: 'Created On',
                        field: 'created_at',
                    },
                    {
                        label: 'Updated On',
                        field: 'updated_at',
                    },
                    {
                        label: 'Actions',
                        field: 'actions',
                        sortable: false,
                    },
                ],
            }  
        },
        created() {
        },
        mounted(){
            this.initialLoad();
        },
        computed: {
            levelAccess1(){
                if(this.user_role == 'super admin'){
                    return true;
                }else{
                    return false;
                }
            },
            levelAccess2(){
                if(this.user_role == 'super admin' ||  this.user_role == 'admin'){
                    return true;
                }else{
                    return false;
                }
            },
            levelAccess3(){
                if(this.user_role == 'super admin' ||  this.user_role == 'admin' ||  this.user_role == 'editor'){
                    return true;
                }else{
                    return false;
                }
            },
            levelAccess4(){
                if(this.user_role == 'super admin' ||  this.user_role == 'admin' ||  this.user_role == 'editor' ||  this.user_role == 'viewer'){
                    return true;
                }else{
                    return false;
                }
            },
        },
        methods: {
            selectionChanged(params) {
                // params.selectedRows - all rows that are selected (this page)
            },

            initialLoad(){
                this.$emit("childProps","brands");
                this.$emit("pageLoading",true);

                this.user_role = this.global_store.getters.user_role;

                let $this = this;
                this.axios.get(index_url + '/api/get-trims/' + this.$route.params.brand + '/' + this.$route.params.model + '/' + this.$route.params.year, {
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('token')
                        }
                    })
                    .then(response => {
                        $this.trims = response.data.trims;

                        $this.year_id = response.data.year.id;
                        $this.year_title = response.data.year.title;

                        this.$emit("pageLoading",false);
                    })
                    .catch(error => {
                        $this.$router.push({ name: 'notfound' });
                    });
            },
            addTrim(){
                this.$modal.show('add-trim');
            },
            submitTrim(){
                this.axios.get(index_url + '/api/add-trim/' + this.trim_name + '/' + this.year_id, {
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('token')
                        }
                    })
                    .then(response => {
                        this.initialLoad();
                        this.$modal.hide('add-trim');
                        toast({
                            type: 'success',
                            title: 'Trim(s) added successfully'
                        });
                    });
            },
            editTrim(id,title){
                this.$modal.show('edit-trim');
                $(".edittrim").val(title);
                this.edit_trim_name = title;
                this.edit_trim_id = id;
            },
            updateTrim(){
                this.axios.get(index_url + '/api/edit-trim/' + this.edit_trim_id + '/' + this.edit_trim_name , {
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('token')
                        }
                    })
                    .then(response => {
                        this.initialLoad();
                        this.$modal.hide('edit-trim');
                        toast({
                            type: 'success',
                            title: 'Trim updated successfully'
                        });
                    });
            },
            deleteTrim(id){

                this.Swal({
                        title: 'Are you sure?',
                        text: "You won't be able to revert this!",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#d33',
                        cancelButtonColor: '#2ecc71',
                        confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {

                        if (result.value) {

                            this.axios.get(index_url + '/api/delete-trim/' + id, {
                                headers: {
                                    Authorization: 'Bearer ' + localStorage.getItem('token')
                                }
                            })
                            .then(response => {
                                this.initialLoad();
                                this.Swal(
                                    'Deleted!',
                                    'Trim deleted successfully',
                                    'success'
                                )
                            });
                        }
                })
                
            }
        }
  }
</script>