<template>

  <div class="container">
    <div class="admintop"></div>

    <div class="row colorbox-group-widget">
       
        <div class="col-md-12 col-sm-12 info-color-box">
            <div class="white-box">
                <div class="media bg-danger">
                    <div class="media-body">
                        <h3 class="info-count">{{admins_count}} <span class="pull-right"><i class="fa fa-user-o"></i></span></h3>
                        <p class="info-text font-12">Moderators</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
      <div class="col-md-12">
          <div class="white-box">
            <vue-good-table
                :columns="columns"
                :rows="users"
                :search-options="{enabled: true}"
                :sort-options="{enabled: true}"
                :pagination-options="{enabled: true, mode: 'pages', perPage: 50, perPageDropdown: [50, 100, 150]}"
                :lineNumbers="true">
                    <template slot="table-row" slot-scope="props">
                        <span v-if="props.column.field == 'actions'">
                            <!-- <router-link :to="{name: 'admin-models', params: { brand: props.row.slug } }" class="btn btn-success btn-sm" aria-expanded="false">
                                <i class="fa fa-eye"></i> view
                            </router-link> -->
                            <router-link :to="{name: 'edituser', params: { id: props.row.id} }" v-if="user_role != 'viewer'" class="btn btn-warning btn-sm" aria-expanded="false">
                                <i class="fa fa-pencil"></i> edit
                            </router-link>    
                            <button v-if="user_role == 'super admin' ||  user_role == 'admin'" class="btn btn-primary btn-sm" @click="deleteUser(props.row.id)"> <i class="fa fa-trash"></i> delete</button>  
                        </span>
                        <span v-else-if="props.column.field == 'role'">
                            <button class="btn btn-info btn-sm" @click="changeRole(props.row.id,props.row.role)"  v-if="user_role == 'super admin'"> 
                                {{props.formattedRow[props.column.field]}}
                            </button>
                            <span v-else>{{props.formattedRow[props.column.field]}}</span>
                        </span>
                        <span v-else>
                            {{props.formattedRow[props.column.field]}}
                        </span>
                    </template> 
            </vue-good-table>
          </div>
      </div>
    </div>

    <modal name="role-modal" height=auto width="65%" classes="custom-modal">
        <h3 class="pageheader">Update User Role</h3>
        <select name="" id="" v-model="change_role" class="form-control">
            <option v-if="user_role == 'super admin'" value="super admin">Super Admin</option>
            <option value="admin">Admin</option>
            <option value="editor">Editor</option>
            <option value="viewer">Viewer</option>
            <option value="user">User</option>
        </select>

        <div style="margin-top:15px">
            <button class="btn btn-success btn-sm" @click="updateRole()"> <i class="fa fa-save"></i> Update Role</button>
        </div> 

    </modal>


  </div>

</template>

<style lang="scss" scoped >
    @import "./resources/assets/sass/admin/general.scss";

    .pageheader {
        color: #1fa558;
    }

    .btn{
        margin-bottom: 5px;
    }
</style>

<script>
  export default {
      
        data() {
            return{
                hosturl: index_url,
                change_role: '',
                role_user_id: 0,
                user_role: '',
                users: [],
                admins_count: 0,
                columns: [
                    {
                        label: 'ID',
                        field: 'id',
                        hidden: true,
                    },
                    {
                        label: 'Name',
                        field: 'name',
                    },
                    {
                        label: 'Email',
                        field: 'email',
                    },
                    {
                        label: 'Role',
                        field: 'role',
                    },
                    {
                        label: 'Phone number',
                        field: 'phone_number',
                    },
                    {
                        label: 'Address',
                        field: 'address',
                    },
                    {
                        label: 'State',
                        field: 'state',
                    },
                    {
                        label: 'Joined',
                        field: 'created_at',
                    },
                    {
                        label: 'Actions',
                        field: 'actions',
                        sortable: false,
                    },
                ],
            }  
        },
        created() {
        },
        mounted(){
            this.initialLoad();
        },
        methods: {
            initialLoad(){
                this.$emit("pageLoading",true);
                
                

                this.$emit("childProps","users");

                let $this = this;
                    this.axios.get(index_url + '/api/get-users', {
                            headers: {
                                Authorization: 'Bearer ' + localStorage.getItem('token')
                            }
                        })
                        .then(response => {
                            $this.users = response.data.users;
                            $this.admins_count = response.data.admins_count;
                            $this.user_role = response.data.user.role;

                            this.$emit("pageLoading",false);
                        }
                    );

            },
            deleteUser(id){
                    this.Swal({
                            title: 'Are you sure?',
                            text: "You won't be able to revert this!",
                            type: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#d33',
                            cancelButtonColor: '#2ecc71',
                            confirmButtonText: 'Yes, delete it!'
                        }).then((result) => {

                            if (result.value) {

                                this.axios.get(index_url + '/api/delete-user/' + id, {
                                    headers: {
                                        Authorization: 'Bearer ' + localStorage.getItem('token')
                                    }
                                })
                                .then(response => {
                                    this.initialLoad();
                                    this.Swal(
                                        'Deleted!',
                                        'Product deleted successfully',
                                        'success'
                                    )
                                });
                            }
                    })
            },
            changeRole(user_id, role){
                this.change_role = role;
                this.role_user_id = user_id;
                this.$modal.show('role-modal');
            },
            updateRole(){
                this.axios.get(index_url + '/api/update-user-role/' + this.role_user_id + '/' + this.change_role, {
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('token')
                        }
                    })
                    .then(response => {
                        this.$modal.hide('role-modal');
                        this.initialLoad();
                        this.Swal(
                            'Updated :)',
                            'User role updated successfully',
                            'success'
                        );
                    }
                );
            }
        }
  }
</script>