<template>
  <div>
    <div class="admintop"></div>
    <div class="container">
        <div class="row">
          <div class="col-md-12">
              <div class="white-box">

                <h3 class="pageheader">Years</h3>

                <h3 style="margin-bottom:15px">
                    <router-link :to="{name: 'admin-models', params: { brand: $route.params.brand } }" class="leadinglink" aria-expanded="false">
                    {{$route.params.brand}} 
                    </router-link>
                    / {{model_title}}

                </h3>

                <button v-if="levelAccess2" class="btn btn-success btn-sm" @click="addYear(model_id)" style="margin-bottom:20px"> <i class="fa fa-plus"></i> Add Year</button>

                <vue-good-table
                :columns="columns"
                :rows="years"
                :search-options="{enabled: true}"
                :sort-options="{enabled: true}"
                :pagination-options="{enabled: true, mode: 'pages', perPage: 50, perPageDropdown: [50, 100, 150]}"
                :lineNumbers="true">
                    <template slot="table-row" slot-scope="props">
                        <span v-if="props.column.field == 'actions'">
                            <router-link v-if="levelAccess4" :to="{name: 'admin-trims', params: { year: props.row.title, model: $route.params.model, brand: $route.params.brand } }" class="btn btn-success btn-sm" aria-expanded="false">
                                <i class="fa fa-eye"></i> view
                            </router-link>
                            <button v-if="levelAccess3" class="btn btn-warning btn-sm" @click="editYear(props.row.id, props.row.title)"> <i class="fa fa-pencil"></i> edit</button>     
                            <button v-if="levelAccess2" class="btn btn-primary btn-sm" @click="deleteYear(props.row.id)"> <i class="fa fa-trash"></i> delete</button>  
                        </span>
                        <span v-else>
                            {{props.formattedRow[props.column.field]}}
                        </span>
                    </template> 
                </vue-good-table>


              </div>
          </div>
        </div>
    </div>

    <modal name="add-year" height=auto width="70%" classes="custom-modal">
        <div>
            <h4 class="text-success" style="margin-bottom:10px">Add Year</h4>
            <small>Add multiple years by separating each year with a comma</small>
            <input type="text" class="form-control" name="year-name" v-model="year_name" value="">

            <button class="btn btn-success" style="margin-top:20px" @click="submitYear()"> <i class="fa fa-save"></i> Save</button>
        </div>
    </modal>

    <modal name="edit-year" height=auto width="70%" classes="custom-modal">
        <div>
            <h4 class="text-success" style="margin-bottom:10px">Update Year</h4>
            <input type="text" class="form-control" name="year-name" v-model="edit_year_name" value="">

            <button class="btn btn-success" style="margin-top:20px" @click="updateYear(edit_year_id)"> <i class="fa fa-save"></i> Update</button>
        </div>
    </modal>


  </div>
</template>


<style lang="scss" scoped >
    @import "./resources/assets/sass/admin/general.scss";

    .yearimg{
      object-fit: contain;
      width: 60px;
    }

    a.router-link-active {
        font-size: inherit;
        color: #21a358;
    }

    a.leadinglink {
        font-size: inherit;
        color: #21a358;
    }

</style>


<script>
  export default {
     
        data() {
            return{
                hosturl: index_url,
                model_title: '',
                model_id: '',
                year_name: '',
                edit_year_name: '',
                edit_year_id: '',
                years: [],
                user_role:'',
                columns: [
                    {
                        label: 'ID',
                        field: 'id',
                        hidden: true,
                    },
                    {
                        label: 'Year',
                        field: 'title',
                    },
                    {
                        label: 'Created On',
                        field: 'created_at',
                    },
                    {
                        label: 'Updated On',
                        field: 'updated_at',
                    },
                    {
                        label: 'Actions',
                        field: 'actions',
                        sortable: false,
                    },
                ],
            }  
        },
        created() {
        },
        mounted(){
            this.initialLoad();
        },
        computed: {
            levelAccess1(){
                if(this.user_role == 'super admin'){
                    return true;
                }else{
                    return false;
                }
            },
            levelAccess2(){
                if(this.user_role == 'super admin' ||  this.user_role == 'admin'){
                    return true;
                }else{
                    return false;
                }
            },
            levelAccess3(){
                if(this.user_role == 'super admin' ||  this.user_role == 'admin' ||  this.user_role == 'editor'){
                    return true;
                }else{
                    return false;
                }
            },
            levelAccess4(){
                if(this.user_role == 'super admin' ||  this.user_role == 'admin' ||  this.user_role == 'editor' ||  this.user_role == 'viewer'){
                    return true;
                }else{
                    return false;
                }
            },
        },
        methods: {
            selectionChanged(params) {
                // params.selectedRows - all rows that are selected (this page)
            },

            initialLoad(){
                this.$emit("childProps","brands");
                this.$emit("pageLoading",true);

                this.user_role = this.global_store.getters.user_role;

                let $this = this;
                this.axios.get(index_url + '/api/get-years/' + this.$route.params.brand + '/' + this.$route.params.model, {
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('token')
                        }
                    })
                    .then(response => {
                        $this.years = response.data.years;

                        $this.model_id = response.data.model.id;
                        $this.model_title = response.data.model.title;
                        
                        this.$emit("pageLoading",false);
                        
                    })
                    .catch(error => {
                        $this.$router.push({ name: 'notfound' });
                    });
            },
            addYear(){
                this.$modal.show('add-year');
            },
            submitYear(){
                this.axios.get(index_url + '/api/add-year/' + this.year_name + '/' + this.model_id, {
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('token')
                        }
                    })
                    .then(response => {
                        this.initialLoad();
                        this.$modal.hide('add-year');
                        toast({
                            type: 'success',
                            title: 'Year(s) added successfully'
                        });
                    });
            },
            editYear(id,title){
                this.$modal.show('edit-year');
                $(".edityear").val(title);
                this.edit_year_name = title;
                this.edit_year_id = id;
            },
            updateYear(){
                this.axios.get(index_url + '/api/edit-year/' + this.edit_year_id + '/' + this.edit_year_name , {
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('token')
                        }
                    })
                    .then(response => {
                        this.initialLoad();
                        this.$modal.hide('edit-year');
                        toast({
                            type: 'success',
                            title: 'Year updated successfully'
                        });
                    });
            },
            deleteYear(id){

                this.Swal({
                        title: 'Are you sure?',
                        text: "You won't be able to revert this!",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#d33',
                        cancelButtonColor: '#2ecc71',
                        confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {

                        if (result.value) {

                            this.axios.get(index_url + '/api/delete-year/' + id, {
                                headers: {
                                    Authorization: 'Bearer ' + localStorage.getItem('token')
                                }
                            })
                            .then(response => {
                                this.initialLoad();
                                this.Swal(
                                    'Deleted!',
                                    'Year deleted successfully',
                                    'success'
                                )
                            });
                        }
                })
                
            }
        }
  }
</script>