<template>
    <div>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 footer-block">
                        <h3 class="footer_header">About Us</h3>
                        <div class="footer_links"><router-link :to="{name: 'about'}">About Us</router-link></div>
                        <div class="footer_links"><router-link :to="{name: 'terms'}">Terms & Conditions</router-link></div>
                        <div class="footer_links"><router-link :to="{name: 'privacypolicy'}">Privacy Policy</router-link></div>
                        <div class="footer_links"><router-link :to="{name: 'billingpolicy'}">Billing Policy</router-link></div>

                        <div class="subscribe">
                            <input type="email" name="" v-model="email" class="form-control subscribe-input" placeholder="Subscribe for newsletter">
                            <div class="subscribe-rectangle"><img :src="hosturl + 'images/go.png'" class="subscribe-rectangle-element" @click="subscribe()"> </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 footer-block">
                        <h3 class="footer_header">Support</h3>
                        <div class="footer_links"><router-link :to="{name: 'contact'}">{{official_email}}</router-link></div>
                        <div class="footer_links"><router-link :to="{name: 'safetytips'}">Safety Tips</router-link></div>
                        <div class="footer_links"><router-link :to="{name: 'contact'}">Contact Us</router-link></div>
                        <div class="footer_links"><router-link :to="{name: 'faq'}">FAQ</router-link></div>

                        <div class="social-media-conatiner">
                            <a :href="twitter"><img :src="hosturl + 'images/twitter.png'" class="social-media"></a>
                            <a :href="instagram"><img :src="hosturl + 'images/instagram.png'" class="social-media"></a>
                            <a :href="facebook"><img :src="hosturl + 'images/facebook.png'" class="social-media"></a>
                        </div>
                        
                    </div>
                    <div class="col-md-3 col-sm-6 footer-block category-block">
                        <h3 class="footer_header">Categories</h3>
                        <div v-for="category in categories" :key="category.id" class="footer_links"><router-link :to="{name: 'dashboard', query: {category:category.slug}}">{{category.title}}</router-link></div>
                        
                    </div>
                    <div class="col-md-3 col-sm-6 footer-block payment-block">
                        <h3 class="footer_header"></h3>
                        <img :src="hosturl + 'images/visa.png'" class="payment-brand"> 
                        <img :src="hosturl + 'images/master.png'" class="payment-brand"> 
                        <img :src="hosturl + 'images/paypal.png'" class="payment-brand">   
                    </div>
                </div>
            </div>
        </div>

        <div class="footer_bottom">
            Designed by <a href="http://astract.com" style="color:white">Astract9.</a> <strong>©Copyright 2019 AUTOGIG All Rights Reserved.</strong>
        </div>

    </div>
</template>

<style lang="scss">

    $black: #3d3d3d;
    $red: #ed3137;

   .footer{
        padding: 90px 0px;
        background: $black;
        color: white;
        position: relative;
    }

    .footer a{
        font-weight: 600;
        color: #e0e0e0;
        font-family: HelveticaNeue;
        display: inline-block;
        font-weight:900;
        font-size: 15px;
        font-style: normal;
        font-stretch: normal;
        margin-bottom:15px;
        letter-spacing: 1.5px;
        line-height: 1.23;
    }

    .footer .footer_header{
        color: #707070;
        margin-bottom:30px;  
        font-size: 24px;
    }

    .footer_bottom{
        border-top: solid 0.5px #787878;
        font-weight:500;
        text-align: center;
        background-color: #454545;
        padding:25px;
        color:white;
    }

    .category-block, .payment-block{
        height: 250px;
    }

    .subscribe{ 
        display: inline-block;
        margin: 30px 0px 0px;
    }

    .subscribe #input{
        border-radius: 7px 0px 0px 7px;
    } 

    .social-media-conatiner{
        margin: 35px 0px 0px;
    }

    .subscribe-input{
        width: 240px;
        height: 50px;
        display:inline-block;
    }

    .subscribe-rectangle {
        border-radius: 0px 7px 7px 0px;
        display: inline-block;
        vertical-align: top;
        width: 50px;
        height: 50px;
        margin: 0px 0px 0px -5px;
        padding: 3px;
        background-color: $red;
        cursor: pointer;
    }

    .subscribe-rectangle-element {
        width: 30.6px;
        height: 40px;
        object-fit: contain;
    }

    .subscribe-rectangle-element {
        margin-left: 5px;
    }

    .social-media{
        margin-right: 10px;
        width: 30px;
    }

    .payment-brand{
        width: 100px;
        display: block;
        margin-bottom: 25px;
    }

    @media (max-width: 1200px)
    {
        .footer-block{
            height: 400px;
        }

        .footer{
            padding: 90px 0px 0px;
        }

        .footer-block:nth-child(3){
            height: 200px;
        }

        .footer-block:nth-child(4){
            height: 300px;
        }

    }

    @media (max-width: 1360px)
    {
        .subscribe-input{
            width: 70%;
        }

    }

    @media (max-width: 400px){

    }

</style>


<script>

    export default {
        components: {
        },
        data () {
            return {
                hosturl: index_url + "/",
                email: '',
                official_email: '',
                facebook: '',
                twitter: '',
                instagram: '',
                categories: [],
            }
        },
        created(){
        },
        mounted(){
            this.initialLoad();
        },
        methods: {
            initialLoad(){
                let $this = this;
                this.axios.get(index_url + '/api/get-footer')
                    .then(response => {
                        $this.categories = response.data.categories
                        $this.official_email = response.data.email
                        $this.facebook = response.data.facebook
                        $this.twitter = response.data.twitter
                        $this.instagram = response.data.instagram
                    })
                    .catch(error => {
                    });
            },
            subscribe(){

                this.$Progress.start();
                this.axios.get(index_url + '/api/verify-newsletter-email/' + this.email)
                    .then(response => {
                        if(response.data.message == "exist"){
                            this.$Progress.finish();
                            this.Swal(
                                'Email Registered',
                                'This email is registered already',
                                'success'
                            );
                        }else{

                            this.$Progress.finish();
                            this.Swal(
                                'Check your email!',
                                'A link has been to sent to your email for verification',
                                'warning'
                            );
                        }
                    })
                    .catch(error => {
                        this.$Progress.fail();
                    });
            }
        }
    }

</script>