<template>
    <div style="height: 80px;">
        <nav class="navbar navbar-default navbar-fixed-top" style="">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </button>
                    <router-link :to="{ name: 'home'}" class="navbar-brand"> <img :src="host_url + '/images/logo.png'" alt="logo" class="logo">
                    </router-link>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <router-link :to="{name: 'home'}" class="active-link" :class="{ active_menu: active.home }">
                                HOME
                            </router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'about'}" class="active-link" :class="{ active_menu: active.about }">
                                ABOUT
                            </router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'buy_parts'}" class="active-link" :class="{ active_menu: active.buy_parts }">
                                BUY PARTS
                            </router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'products'}" class="active-link" :class="{ active_menu: active.products }">
                                PRODUCTS
                            </router-link>
                        </li>
                        <li>
                            <a :href="host_url + '/blog'" target="_blank" class="active-link" :class="{ active_menu: active.blog }">
                                BLOG
                            </a>
                        </li>
                        <li>
                            <router-link :to="{name: 'contact'}" class="active-link" :class="{ active_menu: active.contact }">
                                CONTACT
                            </router-link>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" :class="{ active_menu: active.more }">MORE</a>
                            <ul class="dropdown-menu">
                                <li><router-link :to="{name: 'trainingcertification'}" class="active-link">TRAINING & CERTFICATION</router-link></li>
                                <!-- <li><router-link :to="{name: 'fleetmanagement'}" class="active-link">FLEET MANAGEMENT</router-link></li> -->
                                <li><a :href="host_url + '/blog/category/tv/'" target="_blank" class="active-link" :class="{ active_menu: active.blog }">AUTOGIG TV</a></li>
                            </ul> 
                        </li>
                        <li class="dropdown">
                            <a>|</a>
                        </li>
                        <li>
                            <router-link :to="{name: 'cart'}" class="active-link" :class="{ active_menu: active.cart }">
                                CART <span class="badge ">{{cart_count}}</span>
                            </router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'myorders'}" class="active-link" :class="{ active_menu: active.account }">
                                MY ORDERS
                            </router-link>
                        </li>
                        <input type="hidden" :value="activeLink">
                        <!-- <li>
                            <router-link :to="{name: 'search'}" class="active-link">
                                <i class="fa fa-search fa-lg" aria-hidden="true"></i>
                            </router-link>
                        </li> -->
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</template>

<style lang="scss" scoped>

    $black: #3d3d3d;
    $red: #ed3137;

   
    a.navbar-brand {
        padding: 15px;
    }

    .logo{
        width: 163.1px;
        height: 30px;
        object-fit: contain;
    }

    .navbar{
        height: 80px;
        opacity: 0.95;
        background-color: #373737;
    }

    .navbar-default .navbar-nav>li>a:hover {
        color: #fff ;
        background-color: transparent;
    }

    .navbar-default .navbar-nav>li>a {
        color: #fff ;
        background-color: transparent;
        font-family: HelveticaNeueMed;
        font-size: 13.5px;
        font-weight:400;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.28;
        letter-spacing: 2px;
        text-align: left;
        margin-top: 8px;
    }

    .navbar-default .navbar-nav>.open>a{
        color: white !important;
    }

    ul.dropdown-menu {
        margin-top: 15px !important;
        background: #414141;
        border: none;
        opacity: 1;
    }

    
    a.active-link.router-link-exact-active {
        color: #ed3137 !important;
        font-weight: bolder !important; 
    }

    .dropdown-menu > li > a {
        font-family: HelveticaNeueMed;
        font-size: 13px;
        padding: 10px 30px;
    }

    .dropdown-menu > li > a:hover {
        color: #fff !important;
        background: $red;
    }

    .dropdown-menu > li > a:focus {
        color: #fff !important;
        background-color: unset !important;
    }

    a.active_menu {
        color: #ed3137 !important;    
        font-weight: 600 !important;
    }

    @media (max-width: 1100px) {
        ul.dropdown-menu {
            margin-top: 0px !important; 
            padding: 10px 20px !important;
        }
    }

</style>


<script>

    import store from '@/store/index';
    
    export default {
        components: {
        },
        props: ['activemenu','cartcount'],
        data () {
            return {
                host_url: index_url,
                loggedin: false,
                cart_count: 0,
                active: {
                    home: false,
                    about: false,
                    buy_part: false,
                    products: false,
                    blog: false,
                    contact: false,
                    more: false,
                    training: false,
                    fleet: false,
                    autogig_tv: false,
                    account: false,
                    all_orders: false,
                    user_profile: false,
                    cart: false,
                }
            }
        },
        mounted(){
            this.fetchData();
        },
        watch: {
            'cartcount' : function (newVal, oldVal) {
                this.cart_count = newVal;
            }
        },
        computed: {
            activeLink(){
                var $this = this;
                $this.removeOtherActiveLinks()

                switch ($this.activemenu) {
                    case "home":
                        $this.active.home = true;
                    break;
                    case "about":
                        $this.active.about = true;
                    break;
                    case "buy_part":
                        $this.active.buy_part = true;
                    break;
                    case "blog":
                        $this.active.blog = true;
                    break;
                    case "products":
                        $this.active.products = true;
                    break;
                    case "contact":
                        $this.active.contact = true;
                    break;
                    case "more":
                        $this.active.more = true;
                    break;
                    case "training":
                        $this.active.training = true;
                    break;
                    case "fleet":
                        $this.active.fleet = true;
                    break;
                    case "autogig_tv":
                        $this.active.autogig_tv = true;
                    break;
                    case "account":
                        $this.active.account = true;
                    break;
                    case "all_orders":
                        $this.active.all_orders = true;
                    break;
                    case "user_profile":
                        $this.active.user_profile = true;
                    break;
                    case "cart":
                        $this.active.cart = true;
                    break;
                    default:

                    break;
                }

                return true;

            },
        },
        methods: {
            fetchData(){
                let $this = this;

                this.axios.get(index_url + '/api/get-cart', {
                    headers: {
                        Authorization: 'Bearer ' + localStorage.getItem('token')
                    },
                    params:{
                        order_code:  localStorage.getItem('track')
                    }
                })
                .then(response => {
                    $this.cart_count = response.data.cart_count;
                })
                .catch(error => {
                });
             
            },
            

            removeOtherActiveLinks(){
                this.active.home = false;
                this.active.about = false;
                this.active.buy_part = false;
                this.active.products = false;
                this.active.blog = false;
                this.active.contact = false;
                this.active.more = false;
                this.active.training = false;
                this.active.fleet = false;
                this.active.autogig_tv = false;
                this.active.account = false;
                this.active.all_orders = false;
                this.active.user_profile = false;
                this.active.cart = false;
            }
        }
    }

</script>