$deepred: #a12327;

.container-fluid {
  padding: 30px 30px 0;
}

.white-box .box-title {
  margin: 10px 0 12px;
  font-weight: normal;
  font-size: 17px;
  font-family: HelveticaNeueMed;
}

.sidebar-nav ul#side-menu li a {
  font-weight: normal;
  font-family: HelveticaNeueMed;
}

.admintop{
  height:40px
}

.btn {
  font-family: HelveticaNeueMed;
}

.pageheader{
  margin-bottom: 15px;
  color: $deepred;
}