$black: #3d3d3d;
$red: #ed3137;


.vin-help{
  color: #484848;
  text-align: center;
  width: 100%;    
  vertical-align: middle;
  height: 0%;
}

.parts-div{
  background-size: cover;
  padding: 40px 0px 10px;
  color: white;
  background-color: #484848;
}

.bg-image {
  min-height:100%;
  background-size:cover !important;
  height:700px;
  width: 100%;
}

.search-container{
  width: 70%;
  display:inline-block;
}

.search{
  border-radius: 7px 0px 0px 7px;
  height: 40px;
  width: 85%;
  display:inline-block;
}

.brand_style_div .brand_style{
  font-size: 18px;
}

.dropdown.v-select.search.single.searchable.disabled {
  border-radius: 7px;
}

.search-rectangle {
  border-radius: 0px 7px 7px 0px;
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 40px;
  margin: 0px 0px 0px -6px;
  padding: 3px;
  background-color: $red;
  cursor: pointer;
}

.search-rectangle-element {
  width: 32px;
  height: 23px;
  margin-top: 6px;
  object-fit: contain;
}

.submit-part-details{
  margin: 40px 0px;
}

.add-to-parts{
  text-align: center;
}

.buy-parts-form span {
  width: 27%;
  display: inline-block;
}

.buy-parts-form {
  width: 100%;
  margin-bottom: 20px;
}

.fill-form-text{
  font-size: 22px;
  margin-bottom: 40px;
}

.submit-part-details button{
  font-family: HelveticaNeueMed;
  padding: 10px;
  margin-top: 40px;
  background-color: #ed3137;
}

.add-to-parts button{
  font-family: HelveticaNeueMed;
  padding: 10px;
  margin-top: 40px;
  background-color: #ed3137;
}

.btn-danger{
  background-color: #ed3137;
}

.buy_parts_div{
  padding:0px 0px 0px 65px
}



@media (max-width: 600px){

  .buy-parts-form span{
    width: 100%;
    display: block;
  }

  .search-container{
    width: 100%;
    display: block;
  }
}

@media (max-width:990px){
  .buy_parts_div{
    padding:0px 0px;
  }
}

@media (min-width:998px) and (max-width:1174px){
  .buy-parts-form span {
    width: 55%;
  }
}


// Crossfade Background

.crossfade > div {
  animation: imageAnimation 12s linear infinite 0s;
  backface-visibility: hidden;
  background-size: 141% !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  color: black;
  background-color: black;
  height: 100%;
  left: 14%;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 90%;
  z-index: 0;
}



.crossfade > div:nth-child(1) {  }

.crossfade > div:nth-child(2) {
  animation-delay: 6s;
}

// .crossfade > div:nth-child(3) {
//   animation-delay: 12s;
// }

@keyframes 
imageAnimation {  0% {
animation-timing-function: ease-in;
opacity: 0;
}
14% {
animation-timing-function: ease-out;
opacity: 1;
}
20% {
opacity: 1
}
55% {
opacity: 0
}
100% {
opacity: 0
}
}

@media (max-width: 450px){
  .bg-image {
      height: 400px;
  }
}

@media (max-width: 990px){
  .bg-image {
      display: none;
  }
}
