$black: #3d3d3d;
$red: #ed3137;


@media (min-width: 1290px){
  .col-md-3 {
      width: 25%;
  }
}

@media (min-width: 768px) and (max-width: 1290px){
  .col-sm-4 {
      width: 33.33333333%;
  }
}

.load-more-details{
  text-align: center;
}

.load-more-details button{
  font-family: HelveticaNeueMed;
  padding: 10px;
  background-color: #ed3137;
}

.product-box{
  border-radius: 7px;
  width: 100%;
  // height: 300px;
  background-color: #ffffff;
  border: solid 1px $black;
  margin: 0px 10px 20px 10px;
  // display: inline-block;
  vertical-align: top;
  padding: 0px 0px 15px 0px;
}

.product-image{
  width: 100%;
  height: 210px;
  border-radius: 7px 7px 0px 0px;
  object-fit: cover;
  border-bottom: solid 1px $black;
}

.product-headline{
  text-align: left;
  font-size: 16px;
  margin: 20px 0px 0px 0px;
  color: $black;
  width: 100%;
  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;
  min-height: 80px;
}

.product-price{
  text-align: left;
  font-family: HelveticaNeue;
  font-size: 18px;
  margin: 5px 0px 0px 0px;
  font-weight: 600;
  color: $black;
}

.product-mini-details{
  padding: 0px 15px;
  color: $black;
}

.add-to-cart{
  float: left;
  border-radius: 4px;
  background-color: $black;
  padding: 7px;
  color: white;
  margin-top: 20px;
  cursor: pointer;
}

.remove-from-cart{
  float: right;
  margin-top: 20px;
  padding: 7px;
}

.buy-now{
  float: left;
  border-radius: 4px;
  background-color: $red;
  padding: 7px;
  color: white;
  margin-top: 20px;
}

.more-info{
  float: right;
  line-height: 2.6;
  margin-top: 20px;
}


.cart-image{
  height: 16px;
  width: 16px;
}

.enter-image{
  height: 16px;
  width: 22px;
}
