$black: #3d3d3d;
$red: #ed3137;

.bg-image {
  min-height:100%;
  background-size:cover !important;
  height:100vh;
  width: 100%;
  background-color: black;
  position: relative;
}

.bg-text{
  padding:250px;
}

.bg{
  //background-image:linear-gradient(to bottom, rgba(248, 218, 219, 0), #000000 86%, #000000), url('../images/bg.jpg');
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

.track_order, .product_search{
  display: inline-block;
  margin: 0px 20px 20px 20px;
}

.main-headline {
  font-size: 50px;
  text-align: center;
  color: #ffffff;
}

.featured-header{
  font-size: 30px;
  color: $red;
  padding: 45px 0px 0px 65px;
}

.featured-header-bg{
  height: 125px;
  background-size: contain !important;
  margin-bottom:45px;
}

.main-headline-body{    
  position: relative;
  top: 60%;
  font-size: 26px;
  font-family: HelveticaNeue;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 1.5px;
  line-height: 1.23;
  text-align: center;
  color: #ffffff;
}

.search{
  border-radius: 7px 0px 0px 7px;
  height: 50px;
  width: 280px;
  display:inline-block;
}

.search-rectangle {
  border-radius: 0px 7px 7px 0px;
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 50px;
  margin: 0px 0px 0px -5px;
  padding: 3px;
  background-color: $red;
}

.search-rectangle-element {
  width: 30.6px;
  height: 40px;
  object-fit: contain;
  cursor: pointer;
}

.search_boxes{
  position: relative;
  text-align: center;
  top: 70%;
}

.product-headline{
  text-align: left;
  font-size: 16px;
  min-height: 80px;
  margin: 20px 0px 0px 0px;
  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;
}

.product-price{
  text-align: left;
  font-family: HelveticaNeue;
  font-size: 18px;
  margin: 5px 0px 0px 0px;
  font-weight: 600;
}

.product-mini-details{
  padding: 0px 15px;
}

.add-to-cart{
  float: left;
  border-radius: 4px;
  background-color: $black;
  padding: 7px;
  color: white;
  margin-top: 20px;
  cursor: pointer;
}

.more-info{
  float: right;
  line-height: 2.6;
  margin-top: 20px;
  cursor: pointer;
}

.more-info a{
  color: black;
}


.cart-image{
  height: 16px;
  width: 16px;
}

.enter-image{
  height: 16px;
  width: 22px;
}

.popular-brands{
  width: 1300px;
  padding:60px 0px;
}

.container {
  overflow-x: overlay;
}

.brand-header{
  display: inline-block;
}


.brand-logos{
  width: 110px;
  margin: 20px;
  vertical-align: text-bottom;
}


.hot-deals-container, .featured-container{
  width: 90%;
  margin: auto;
}



@media (max-width: 1330px)
{
  // .featured-container .product-box:last-child{
  //   display:none;
  // }

  // .hot-deals-container .product-box:nth-child(9), .hot-deals-container .product-box:nth-child(10){
  //   display:none;
  // }

}

@media (max-width: 1200px)
{
  .bg-text{
    padding:150px; 
  }

  .bg-image {
    height:100vh;
    position:relative;
  }

  // .featured-container .product-box:last-child{
  //   display:none;
  // }

  // .hot-deals-container .product-box:nth-child(9), .hot-deals-container .product-box:nth-child(10){
  //   display:none;
  // }

  .search_boxes {
    margin: auto;
    text-align: center;
    width: unset;
  }

}

@media (min-width:839px) and (max-width: 1200px){
  .hot-deals-container, .featured-container{
    width: 100%;
    margin: auto;
  }
}

@media (min-width:490px) and (max-width: 599px){
  .hot-deals-container, .featured-container{
    width: 80%;
    margin: auto;
  }
}

@media (min-width: 400px) and (max-width:1300px){
  .main-headline-body{    
    top: 50%;
  }

  .search_boxes{
    position: relative;
    text-align: center;
    top: 65%;
  }
}

@media (min-width: 600px) and (max-width:768px){
  .col-xs-12 {
      width: 50%;
  }
}

@media (max-width: 1023px){
  
  .search_boxes span {
    width: 200px;
    display: inline-block;
  }

  .search{
    height: 50px;
    width: 80%;
    display:inline-block;
  }
}

@media (max-width:400px){
  .main-headline-body{    
    top: 40%;
  }

  .search_boxes{
    position: relative;
    text-align: center;
    top: 55%;
  }

  .brand-logos{
    width: 30%;
    margin: 20px;
    vertical-align: text-bottom;
  }
}





// Crossfade Background

.crossfade > div {
  animation: imageAnimation 18s linear infinite 0s;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center center;
  color: black;
  background-color: black;
  height: 100vh;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 0;
}


.crossfade > div:nth-child(1) {  }

.crossfade > div:nth-child(2) {
  animation-delay: 6s;
}

.crossfade > div:nth-child(3) {
  animation-delay: 12s;
}

@keyframes 
imageAnimation {  0% {
animation-timing-function: ease-in;
opacity: 0;
}
8% {
animation-timing-function: ease-out;
opacity: 1;
}
20% {
opacity: 1
}
45% {
opacity: 0
}
100% {
opacity: 0
}
}
