$black: #3d3d3d;
$red: #ed3137;
$deepred: #a12327;



#pricerange{
  margin: 15px 0px 20px 15px;
  width: 90%;
}

a {
  color: inherit;
}

.product-category{
  text-align: left;
}


.sidebar-fixed{
  background-color: #414141;
  padding: 10px 40px 40px 40px;
  position: fixed;
  width: 22%;
  height: 90%;
  overflow-y: scroll;
}

label{
  cursor: pointer;
}

.inputsearch{
  height: 30px;
  margin-top: 10px;
}

.side-filter{
    height: 200px;
    overflow-y: auto;
    margin-top:10px;
}

.side-filter::-webkit-scrollbar-track {
  padding: 2px 0;
  background-color: #8a8a8a;
}

hr{
  border-color: #8a8a8a;
  color: #8a8a8a;
}

.side-filter::-webkit-scrollbar {
  width: 10px;
}

.side-filter::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #323232;
}

.header-text {
  font-family: HelveticaNeueBd;
  font-size: 22px;
  margin-top: 10px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.load-more-details button{
  margin: 40px 0px 80px;
}

.brand-checkbox{
  margin-top:10px;
}

.select-sub-category{
  margin: 15px 0px;
}

.products-container{
  padding:25px 50px 50px 0px;
}

.search-products{
  padding: 50px 75px 0px 25px;
}

.search{
  border-radius: 7px 0px 0px 7px;
  display: inline-block;
  width: 96%;
  border-right: solid 1px white;
}

.search-button{
  border-radius: 0px 7px 7px 0px;
  display: inline-block;
  border: solid 1px #dadada;
  border-left: solid 1px white;
  height: 33.5px;
  padding: 6px 6px 6px;
  margin-left: -14px;
  width: 40px;
  text-align: center;
  cursor: pointer;
}

.form-control:focus {
  border-color: #dadada !important;
  border-right-color: white !important;
}

.search-button i{
  color: black;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-right: unset;
  padding-left: unset;
}

.products-container .col-md-3{
  padding-right: 10px;
  padding-left: 10px;
}

.ui-tooltip {
  position: fixed;
}

.left-slider-value {
  display: inline-block;
  width: 85px;
}

.right-slider-value {
  display: inline-block;
  width: 85px;
}

.ui-slider-horizontal {
  width: 100% !important;
}

.right-slider-div {
  display: inline-block;
}

@media (max-width: 1330px){
  .search{
    width: 90%;
    margin-left: 15px;
  }
}

@media (max-width: 400px){
  .search{
    width: 70%;
    margin-left: 15px;
  }

  .products-container{
    padding: 25px 0px;
  }

  .product-box{
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 991px){
  .sidebar-fixed{
    position: relative;
    width: unset;
    height: unset;
  }
}

@media (min-width: 600px) and (max-width:768px){
  .col-xs-12 {
      width: 50%;
  }
}

@media(min-width:990px) and (max-width:1280px){
  .left-slider-value {
    display: inline-block;
    width: 70px;
  }
  
  .right-slider-value {
    display: inline-block;
    width: 70px;
  }
}

//Price Slider

#slider-range {
  width: 75%;
  margin: 20px 0px;
}

#slider-range .ui-slider-handle {
  background: #0e6;
  border-radius: 6px;
}

#slider-range .ui-slider-handle.ui-state-active {
  border: #093;
}

#slider-range .ui-slider-range {
  background: #093;
}

.ui-tooltip,
.arrow:after {
  background: #000;
}

.ui-tooltip {
  color: #fff;
  border: 0;
  border-radius: 10px;
  box-shadow: none;
}

.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}

.arrow.top {
  top: -16px;
  bottom: auto;
}

.arrow.left {
  left: 20%;
}

.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  box-shadow: 6px 5px 9px -9px black;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.arrow.top:after {
  bottom: -20px;
  top: auto;
}

#reset {
  color: #fff;
  background: #090;
  border-radius: 6px;
  font-family: verdana;
  font-weight: bold;
  display: inline-block;
  padding: .25em;
  text-decoration: none;
}
